[2021-06-23 20:46] mjrousos opened #660 "Controller.HttpNotFound => ControllerBase.NotFound"
Replace System.Web.Mvc.Controller.HttpNotFound with Microsoft.AspNetCore.Mvc.ControllerBase.NotFound in controllers.

Although this is similar to what the TypeUpgradeAnalyzer/CodeFixProvider do, they probably can't be directly re-used since this is an instance method replacement.

[2021-06-24 00:35] Sweekriti91 commented on #622
Tracking progress with related issues :

https://github.com/dotnet/core-eng/issues/13364
https://github.com/dotnet/try-convert/pull/407

[2021-06-24 00:39] Sweekriti91 commented on #584
https://github.com/dotnet/try-convert/pull/403

[2021-06-24 03:30] Wraiyth opened #663 "Running upgrade fails with exception"
### Describe the bug
After installing and running the upgrade assistant, there's an exception thrown instantly

[code]

### To Reproduce
Run on any project

### Exceptions (if any)

### Further technical details
- Windows 10 64 bit

- Include the output of `dotnet --list-sdks`
-
2.2.207 [C:\Program Files\dotnet\sdk]
3.1.410 [C:\Program Files\dotnet\sdk]
5.0.300-preview.21258.4 [C:\Program Files\do

[2021-06-24 03:47] Wraiyth commented on #663
Just in further testing, this seemed to be a weird .NET version issue, once I installed .NET 5.0 SDK it seems to work.

[2021-06-25 15:26] twsouthwick commented on #663
What msbuild version is it selecting (the log file/log output should show that)? Can you try removing the v5 preview and installing a stable version of it? I believe by default we ignore preview versions, so I'm betting you're using 3.1.410

[2021-06-25 15:27] twsouthwick commented on #663
@sunandabalu we should verify people are at least using v5 of the SDK - we're expecting to loadNuGet and MSBuild from the SDK and we're compiling against a v5 version of it.

[2021-06-25 15:53] sunandabalu commented on #663
Yeah an initial startup step that fails with more info on what version to use would be helpful

[2021-06-25 21:11] thomas11 opened #669 "Files included with "<Content Include=..." are removed from csproj"
Sections such as the following are removed without replacement from our csproj files. We do need these files.

[code]

### Further technical details

  - Windows 10 Enterprise 21H1
  - upgrade-assistant 0.2.231403+ee9618b1fb94a6881a2e38a7b2ad50356ba54465

[code]

[2021-06-28 06:11] aspi-dwtt commented on #648
Tried installing it in a brand new directory, same result

C:\test>dotnet tool install -g upgrade-assistant
error NU1202: Package upgrade-assistant 0.2.231403 is not compatible with net50 (.NETFramework,Version=v5.0) / any. Package upgrade-assistant 0.2.231403 supports: net5.0 (.NETCoreApp,Version=v5.0) / any
The tool package could not be restored.
Tool 'upgrade-assistant' failed to install. This

[2021-06-29 17:05] sunandabalu commented on #635
@yehudahaber Thanks for the csproj, we will take a look. This looks like a bug.

[2021-06-29 17:05] sunandabalu commented on #635
/cc @mjrousos

[2021-06-29 17:10] sunandabalu commented on #648
@aspi-dwtt Are you having trouble restoring other nuget packages?

[2021-06-29 17:15] sunandabalu commented on #660
/cc @mjrousos

[2021-06-29 17:21] sunandabalu commented on #669
@thomas11 Could you provide the csproj you are seeing this issue with so we can debug this issue? looks like  bug in try-convert.

[2021-06-30 17:19] mjrousos opened #672 "StatusCodes passed to StatusCodeResult's ctor should be cast to ints"
`new StatusCodeResult(HttpStatusCode.BadRequest);` needs updated to `new StatusCodeResult((int)HttpStatusCode.BadRequest);`

[2021-06-30 17:22] mjrousos opened #673 "Update BindAttribute to take include items as arguments directly rather than as named arguments"
`public ActionResult Edit([Bind(Include = "Id,Name")] CatalogItem catalogItem)` needs translated to `public ActionResult Edit([Bind("Id,Name")] CatalogItem catalogItem)`

[2021-06-30 17:28] mjrousos opened #674 "Replace Server.MapPath with IWebHostEnvironment.WebRootPath (or ContentRootPath)"
More investigation is needed here. It may be possible to automate this, but it will be more complex than some replacements because IWebHostEnvironment will need to be retrieved via dependency injection and it may not always be clear whether web root or content root is needed.

[2021-06-30 17:34] mjrousos opened #675 "Replace HostingEnvironment.ApplicationPhysicalPath usage"
This can be replaced with IWebHostEnvironment APIs (though the IWebHostEnvironment will need to be retrieved from DI).

[2021-06-30 17:36] mjrousos opened #676 "Replace HttpRequest.UserAgent"
Get `Request.Headers["User-Agent"].ToString()` instead, though it probably makes sense to do that in an extension method that we add to the project.

[2021-06-30 17:40] mjrousos opened #677 "Replace HttpRequest.RawUrl with HttpRequest.GetEncodedUrl()"

[2021-06-30 17:42] mjrousos opened #678 "Performance testing and optimization"
As UA becomes more useful (and more complex) it will be valuable to create performance tests and investigate any bottlenecks to optimize performance.

[2021-06-30 17:53] mjrousos opened #679 "Upgrade session variable access"
In ASP.NET, session variables were access with indexers (`Session["MyVariable"]`). In ASP.NET Core, they need to be accessed via methods (`Session.GetString("MyVariable")`).

Upgrade Assistant should upgrade these code patterns (including dealing with necessary serialization of non-string values).

[2021-06-30 18:53] mjrousos opened #680 "Alert users using System.Web.Security.FormsAuthentication that they should use ASP.NET Core auth instead"
https://stackoverflow.com/questions/38497079/set-authentification-in-asp-net-core-asp-net-5

[2021-06-30 18:56] mjrousos opened #681 "Replace HttpContextBase usage with HttpContext"

[2021-06-30 18:58] mjrousos opened #682 "Flag usage of BindAttribute's Exclude property"

[2021-06-30 19:01] mjrousos opened #683 "Replace System.Web.Mvc.FormCollection with Microsoft.AspNetCore.Http.FormCollection"

[2021-06-30 19:03] mjrousos opened #684 "Flag or replace System.Web.Mvc.Controller.TryUpdateModel usage"
Need to investigate to figure out exactly what this should look like. The MvcMusicStore sample uses this pattern.

[2021-07-01 21:44] mjrousos commented on #77
Closing this for now as I'm not sure it's the best path forward. Adding source to user's projects has the advantage of being able to include useful comments and giving them control over the shim code, which is nice to have. We can re-open this if it seems more interesting in the future.

[2021-07-01 21:44] #77 closed

[2021-07-08 20:08] PureWeen commented on #588
One scenario to keep in mind here is how users will be able to use this startup file from platform heads.

Currently in Xamarin.Forms users will have a renderer inside the platform head and the xplat control in a shared library.

So if users want to be able to register those renderers from startup they need to be in a place that knows about both.

For example to register an old renderer you use th

[2021-07-08 21:17] twsouthwick opened #690 "Extension management"

[2021-07-09 00:43] sunandabalu opened #694 "Using --skip-backup doesn't seem to work"
### Discussed in https://github.com/dotnet/upgrade-assistant/discussions/689

<div type='discussions-op-text'>

<sup>Originally posted by **vladik-hbinov** July  8, 2021</sup>
Tried using --non-interactive and --skip-backup and it didn't work so I tried in interactive mode and --skip-backup still doesn't work... What am I missing?

dotnet --version
6.0.100-preview.5.21302.13

dotnet --list-sdks
2.

[2021-07-09 00:56] sunandabalu commented on #694
Clearly --skip-backup is not propagating, I tried with the latest from AzDO feed as well and am able to repro it.

[2021-07-09 16:20] twsouthwick opened #698 "Consider separating out the analyzer implementation from the extension"
I think  we could separate out the analyzers as not part of the extension. We want to ensure that these run not only in the context of UA, but also in VS, msbuild, etc. By having it part of the extension, we have started letting dependencies of UA creep in.

Instead, I propose we update the source updaters to enable specific diagnostic ids. We could have a configuration such as

[code]

This would

[2021-07-09 16:29] #694 closed

[2021-07-09 17:14] twsouthwick opened #700 "Remove dependency on analysis library from packages step"
Steps should only depend on the abstractions. Once https://github.com/dotnet/upgrade-assistant/pull/696 is merged, this should enforce that (although it's disabled with a `<NoWarn>` tag in the packages csproj.

@sunandabalu I know you're currently working on this stuff, so I'll assign this to you.

[2021-07-12 19:09] #441 closed

[2021-07-12 19:11] twsouthwick opened #705 "As a user, I can issue commands to add/remove/update extensions"

[2021-07-12 19:11] #705 closed

[2021-07-12 19:11] twsouthwick opened #706 "As a user, I can list current extensions"

[2021-07-12 19:11] twsouthwick opened #707 "As a user, I can add a new extension"

[2021-07-12 19:11] twsouthwick opened #708 "As a user, I can update existing extensions"

[2021-07-12 22:13] twsouthwick opened #709 "Design how extension management should work"

[2021-07-12 22:13] #709 closed

[2021-07-12 22:20] #706 closed

[2021-07-12 22:21] twsouthwick opened #710 "As a user, I can remove extensions"

[2021-07-13 02:14] #509 closed

[2021-07-13 02:14] #700 closed

[2021-07-13 10:24] SaDiablo commented on #640
It also doesn't work with:
[code]

[2021-07-13 20:05] KSchlobohm opened #712 "Should be able to upgrade a project using <TargetFrameworks> that only targets one framework"
### Describe the bug
Should be able to upgrade a project that uses ```<TargetFrameworks>``` attribute but only targets one one framework.

### To Reproduce
Run the upgrade on a class library that uses the following **TargetFrameworks** element.

Review the *MultiTargetFrameworkCheck.cs* to see if this triggers the `;` triggers the project system to read 2 target frameworks.

[code]

[2021-07-13 20:06] KSchlobohm commented on #640
@SaDiablo I think we should treat that as a separate issue. It's either a bug with the way the existing *MultiT* or its a new feature that has a much smaller scope that figuring out the correct upgrade path for a project that has 2 separate TFMs.

Please let me know if #712 describes the issue you encountered.

[2021-07-13 20:08] KSchlobohm commented on #712
Looks like we want to validate the following condition was triggered by the *MultiTargetFrameworkCheck.cs*

[code]

[2021-07-13 20:11] SaDiablo commented on #640
Yes it does, thanks for creating the issue!

[2021-07-13 20:34] mjrousos commented on #712
`<TargetFrameworks>` is a different property, though, then `<TargetFramework>` even if a single item in TargetFrameworks is equivalent to `<TargetFramework>`. We'll need to make sure that UA handles the properties correctly if we permit single-item `<TargetFrameworks>`. The MSBuild layer of the tool that reads and updates TFM properties will likely need modified.

[2021-07-13 20:35] KSchlobohm opened #713 "TargetFramework selection should evaluate desired dependencies rather than current dependencies"
## Summary
The **Azure.Identity** package has a transitive dependency to **System.Windows.Forms** this causes the `upgrade-assistant` to treat the class library as windows dependent and it will add the Windows Compatibility pack.

## Motivation and goals
If someone followed the Key Vault tutorial they would use the *recommended* packages of **Azure.Identity** and **Azure.Security.KeyVault.Secrets*

[2021-07-13 20:52] KSchlobohm opened #714 "Adding the Windows Compatibility Pack causes a runtime error (System.Runtime.CompilerServices.Unsafe)"
### Describe the bug
A runtime error surfaces when the Windows Compatibility Pack is added. This happens with Windows Forms and ASP.NET applications.

### To Reproduce

**Win Forms**
1. Create a new Win Forms App using VS2019 default template
2. Create a new Class Library of shared business logic
3. In the Class Library
    1. Add a NuGet reference to **Azure.Identity** and **Azure.Security.KeyVau

[2021-07-13 20:58] KSchlobohm commented on #714
Known workarounds:

1) Remove the [Windows Compatibility Pack](https://www.nuget.org/packages/Microsoft.Windows.Compatibility) if your project does not actually require the Windows Compatibility Pack (#713)
2) Update your `app.config` to include the appropriate binding redirect.
[code]

[2021-07-15 05:43] FatTigerWang commented on #712
I will try to improve this problem

[2021-07-15 11:55] rainer17 opened #717 "Problem installing dotnet upgrade-assistant"
Problem encountered on https://dotnet.microsoft.com/platform/upgrade-assistant/tutorial/install-upgrade-assistant
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

C:\WINDOWS\system32>dotnet tool install -g upgrade-assistant
C:\Program Files\dotnet\sdk\5.0.3

[2021-07-15 13:38] mjrousos opened #718 "The target framework selector should log more details about why a particular TFM was chosen"
As pointed out in #692, it's not always clear why Upgrade Assistant prefers .NET Standard, .NET 5, etc. for different projects. It's expected that different TFMs are used in different scenarios, but the target framework selector should log more messages (at informational level) explaining why a given TFM was chosen.

[2021-07-15 14:12] prabuwco commented on #577
Thanks @jdmeer
I can understand the logic behind choosing the framework. I have checked it in the projects I ran and you are right :)

[2021-07-15 14:12] #577 closed

[2021-07-15 16:08] sunandabalu commented on #577
@jdmeer Your explanation is spot on, Thanks! We have opened #718 for adding more intentional logging on why a specific TFM was chosen.

[2021-07-15 18:36] andrewjahunter opened #720 "Skipping upgrade step Convert project file to SDK style"
[log.txt](https://github.com/dotnet/upgrade-assistant/files/6825520/log.txt)
Problem encountered on https://dotnet.microsoft.com/platform/upgrade-assistant/tutorial/install-upgrade-assistant
Operating System: windows

When I run the assistant, it goes fine till it has to convert the project file to the new SDK style. It just skips this step. It then bombs out later in step 4 when trying to convert

[2021-07-15 21:30] sunandabalu commented on #720
@andrewjahunter Could you attach the csproj you are seeing this issue with?

[2021-07-19 12:55] maheshsabnis opened #723 "VS version selected does not contain required workloads"
I am trying to upgrade ASP.NET MVC Project targeted to .NET Framework 4.8 to .NET 5 using the .NET Upgrade Assistant  tool. I am using VS2019 with update 16.10.3.  I have followed steps from "https://docs.microsoft.com/en-us/dotnet/core/porting/upgrade-assistant-aspnetmvc" but I am getting the following error:

- Microsoft .NET Upgrade Assistant v0.2.236301+ab7048ed405e48f681c02ce16f691fc473a2d96a

[2021-07-19 17:17] twsouthwick commented on #723
Looks like you don't have the web application workload in VS 2022.

Long term, we should correlate VS selection better with the version of .NET Core

[2021-07-19 21:01] KSchlobohm opened #725 "Inform users about NuGet packages that should be replaced"
## Summary
`upgrade-assistant` will help find the newest version of a package but there are other upgrade scenarios where the latest version is not the recommended approach. Instead, we want to inform that there is a newer package that should be considered.

## Motivation and goals
If someone has a reference to [RhinoMocks](https://www.nuget.org/packages/RhinoMocks/) then recommending an upgraded

[2021-07-19 21:39] twsouthwick commented on #725
I can see the value of this, but most of these will not be a 1:1 replacement. If we were to do this, we would want each dependency change to be something people opt into (instead of applying for all)

[2021-07-19 21:40] twsouthwick opened #726 "Analysis report does not include rule ids"
The sarif report generated should contain rule ids

[2021-07-19 21:40] KSchlobohm commented on #725
One approach could involve a key value pair file to suggest packages that should be replaced with a value that explains why. This would enable users to override the recommended setting with their own preference.

Possibly extend the scenario to recommend a newer package. If a package replacement is recommended then we could automate the process.

[2021-07-19 21:43] twsouthwick opened #727 "Analysis report doesn't populate useful fields"
If the analyze command is run on a project, it will currently generate info about dependencies. However, the result doesn't seem to have the fields filled in that I'd expect:

![image](https://user-images.githubusercontent.com/583206/126231247-0fca14a9-5aaa-4537-aa35-5a715863ac29.png)

Specifically:

- [ ] Code (ruleId)
- [ ] Description shouldn't be just a name
- [ ]  Project
- [ ]  File
- [ ] Li

[2021-07-19 21:43] twsouthwick commented on #726
Closing in lieu of https://github.com/dotnet/upgrade-assistant/issues/727

[2021-07-19 21:43] #726 closed

[2021-07-19 21:45] twsouthwick opened #728 "Analyze command should provide a way to set an output path"
Right now, it will overwrite "AnalysisReport.sarif" with whatever is done. This should be configurable via command line

[2021-07-19 21:46] mjrousos commented on #725
If APIs mostly map 1:1 form the old package to the new one, then we can do this with package maps. I agree with Taylor, though, that if switching packages will also involve a lot of API updates, we might want to just detect package usage and let users know what they need to do.

[2021-07-19 21:46] twsouthwick opened #729 "Analyze report fails validation"
After running the analyze command on baby smash, it failed to validate correctly at https://sarifweb.azurewebsites.net/Validation.

- [ ] `SARIF2005: runs[0].tool.driver: The tool 'Dependency Analysis' does not provide 'informationUri'. This property helps the developer responsible for addessing a result by providing a way to learn more about the tool.`
- [ ] `SARIF2005: runs[0].tool.driver: The t

[2021-07-19 22:11] Sweekriti91 commented on #725
This is a scenario where this applies for Xamarin-MAUI Conversion. For public and community packages, the requirement check is a blanket check, if the nuget takes a dependency on Xamarin.Forms package, then either of the two options can happen :
 1. there is an updated version of the package with updated MAUI dependencies -> we update the package
 2. there is no updated version of the package => t

[2021-07-20 17:39] sunandabalu commented on #717
@rainer17 Could you try the dotnet install with ignore-failed-sources like so `dotnet tool install -g upgrade-assistant --ignore-failed-sources` ? It looks like something weird with one of the custom feeds you have in the nuget.config.

[2021-07-20 17:49] sunandabalu commented on #720
@andrewjahunter Could you also attach the log.txt after running the tool in verbose mode (-v)?

[2021-07-20 18:08] twsouthwick opened #733 "Allow selection of VS version"
## Summary

A user should be able to select the version of VS they want UA to use for loading project files.

## Motivation and goals

VS can be installed side by side and multiple versions can exist on the same machine at a time. Since UA will use VS locations to locate target files, this can pose problems when only one version has a required workload.

## In scope

- Pass in VS path via command

[2021-07-20 18:09] twsouthwick commented on #733
See #723 for original issue

[2021-07-20 18:09] twsouthwick commented on #723
I've opened a design proposal that we'll keep open in lieu of this issue. Please reopen if the workaround does not work for you

[2021-07-20 18:09] #723 closed

[2021-07-20 18:28] sunandabalu commented on #729
Closed via #730

[2021-07-20 18:28] #729 closed

[2021-07-20 18:49] KSchlobohm commented on #723
@twsouthwick
I don't think this is a selected workloads issue. The path itself appears to be incorrect. The correct path for the templates should either include `v17.0` or `2019`. I ran into the same issue when I installed Dev17 and I have the Web application workload installed.

One way to hack around this issue is to copy the `v16.0` templates into the path where the application is looking for t

[2021-07-21 19:35] #727 closed

[2021-07-21 20:16] #621 closed

[2021-07-21 20:16] #65 closed

[2021-07-21 20:16] #69 closed

[2021-07-21 20:16] #75 closed

[2021-07-21 20:16] #502 closed

[2021-07-22 09:54] maheshsabnis commented on #723
Hi @twsouthwick
I have the workload installed but still the problem persist.

Thanks
Regards
Mahesh Sabnis

[2021-07-22 13:06] sunilforever commented on #95
Can someone please show how can I mention the version (.NET 6) while running "upgrade-assistant". I have installed Visual Studio 22 Preview and .NET 6, still its upgrading my projects to .NET 5.

[2021-07-22 13:10] sunilforever opened #740 "How can I upgrade to .NET 6 using "upgrade-assistant" tool?"
Hi,
I used "upgrade-assistant" tool to upgrade my projects to "NET 6", but its by default upgrades to "Net 5". I have installed Visual Studio 22 Preview and Net 6, still this tool is not considering that...Is there any way to specify the "Version" to which we want to upgrade our projects?

[2021-07-22 13:30] mjrousos commented on #95
Hi @sunilforever, the `--target-tfm-support` parameter can be used to specify which .NET release Upgrade Assistant should use when upgrading apps. For .NET 6, you'll want to run `upgrade-assistant upgrade --target-tfm-support Preview ...` where the ... is whatever other arguments you pass like your solution or project path.

[2021-07-22 13:31] mjrousos commented on #740
Hi @sunilforever, the `--target-tfm-support` parameter can be used to specify which .NET release Upgrade Assistant should use when upgrading apps. For .NET 6, you'll want to run `upgrade-assistant upgrade --target-tfm-support Preview ...` where the ... is whatever other arguments you pass like your solution or project path.

Other options (besides `Preview`) that can be used are `Current` (5.0, th

[2021-07-22 13:31] #740 closed

[2021-07-23 11:41] sunilforever commented on #740
Thanks Mike...It worked.
    On Thursday, July 22, 2021, 07:02:13 PM GMT+5:30, Mike Rousos ***@***.***> wrote:

Closed #740.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-07-23 21:38] #718 closed

[2021-07-27 01:27] #549 closed

[2021-07-27 01:27] #584 closed

[2021-07-27 01:33] Sweekriti91 opened #747 "As a user, legacy Xamarin.Forms and related packages are either removed or shown as warning for manual upgrade"
Package Remove (confirmed):

Xamarin.Forms
Xamarin.Essentials
Xamarin.Android.Support.*

Packages Show Warning/Leave unchanged:
Xamarin.Community Toolkit (add app compat package?)

[2021-07-27 16:59] sunandabalu commented on #717
Closing this issue, the above comment should help. Reopen if you need.

[2021-07-27 16:59] #717 closed

[2021-07-27 17:26] #710 closed

[2021-07-27 22:58] twsouthwick opened #752 "VisualStudioVersion is set to 16.0 when using VS 2022"
@twsouthwick
I don't think this is a selected workloads issue. The path itself appears to be incorrect. The correct path for the templates should either include `v17.0` or `2019`. I ran into the same issue when I installed Dev17 and I have the Web application workload installed.

One way to hack around this issue is to copy the `v16.0` templates into the path where the application is looking for t

[2021-07-28 00:07] twsouthwick commented on #752
I think this has to do with which version of msbuild we're loading. If we're loading a 5.x version, it'll say 16, while a 6.x will say 17?

[2021-07-28 01:41] Sweekriti91 commented on #552
everything add `<UseMaui>true</UseMaui>`

MAUI Head project == adds uses Maui and that stuff

iOS/Droid projects == add
`<RuntimeIdentifier Condition="$(TargetFramework.Contains('-ios'))">iossimulator-x64</RuntimeIdentifier>`
or
`<UseInterpreter Condition="$(TargetFramework.Contains('-android'))">True</UseInterpreter>`

[2021-07-28 01:42] Sweekriti91 opened #755 "As a user, I can update the head Xamarin.Forms Project into a Maui Head project"
- bypass ready check for xamarin.forms head project, its already net standard SDK style
- adjust other UA steps for this project
- Add nuget step for this

[2021-07-28 21:00] #733 closed

[2021-07-29 06:44] divyagangadhar opened #757 "The command gives the output as File does not exist: <path name>"
### Describe the bug
A clear and concise description of what the bug is.

### To Reproduce

### Exceptions (if any)

### Further technical details
- Windows version and bitness info (32-bit or 64-bit)
- Include the output of `dotnet --list-sdks`
- Include the output of `upgrade-assistant --version`

[2021-07-29 16:06] Tiberriver256 opened #758 "Question: Does this support upgrades between .NET Core versions?"
Does this support upgrades between .NET Core versions?

For example, if I have an ASP.NET Core 2.1 project that I want to upgrade to .NET 5 can I use this tool?

[2021-07-29 16:34] sunandabalu commented on #758
@Tiberriver256 Thanks for the question, We have not explicitly tested upgrading from an older version of .NET core but there isnt anything in code that will block you from doing it. The flow should skip the "Move to SDK-style" and "Pre-TFM Package updates" and should straight take you to the "Update TFM" step where your chosen TFM will be applied (LTS, Current or Preview). Please try it out and le

[2021-07-29 16:34] #758 closed

[2021-07-29 20:28] sunandabalu commented on #461
The analysis report is using SARIF format, closing this issue

[2021-07-29 20:28] #461 closed

[2021-07-29 20:28] sunandabalu commented on #24
This is done, closing

[2021-07-29 20:28] #24 closed

[2021-07-29 20:29] sunandabalu commented on #8
General reporting structure is defined and is being used by the analyze command

[2021-07-29 20:29] #8 closed

[2021-07-30 02:43] mattleibow opened #759 "Replace the `-xf-` CSS prefix with `-maui-`"
## Summary

Xamarin.Forms used a `-xf-` prefix for the CSS support. Maui should probably use `-maui-` instead.

## Motivation and goals

This is just a name change because Maui is no longer Xamarin.Forms, so it is good to unify the new names.

## In scope

Replace `-xf-` prefies with `-maui-` in CSS files.

## Out of scope

Scenarios you explicitly want to exclude.

## Risks / unknowns

There migh

[2021-07-30 12:34] sunilforever opened #760 "Error while using "System.Deployment.Application.ApplicationDeployment.CurrentDeployment.ActivationUri.Query""
Hi,
After I upgraded my project from ".Net Framework 4.8" to "net6.0-windows" using the command (upgrade-assistant upgrade --target-tfm-support Preview MySol.sln), I am getting below error

"Error	BC30456	'Deployment' is not a member of 'System'"  for below line

Dim QueryString As String = System.Deployment.Application.ApplicationDeployment.CurrentDeployment.ActivationUri.Query

Please let me kno

[2021-07-30 18:13] sunandabalu commented on #759
@Sweekriti91 Could you review this design-proposal?

[2021-07-30 18:20] sunandabalu commented on #760
System.Deployment is not supported in core, you should have seen a warning message calling this out while you were upgrading the project with `upgrade-assistant upgrade` . Please do let us know if the warning did not show up in your log.txt.

[2021-07-30 18:21] sunandabalu commented on #757
@divyagangadhar could you provide the full command you tried? and also the log.txt while running the command with `-v`?

[2021-07-30 18:26] sunandabalu commented on #613
Closing this since there is a workaround for the issue.

[2021-07-30 18:26] #613 closed

[2021-07-30 18:28] sunandabalu commented on #414
Since the customer is unblocked closing this.

[2021-07-30 18:28] #414 closed

[2021-07-30 18:31] sunandabalu commented on #213
This should be a bit easier path with the change to provide vs path to the tool https://github.com/dotnet/upgrade-assistant/pull/753. Closing the issue.

[2021-07-30 18:31] #213 closed

[2021-07-30 21:46] Sweekriti91 commented on #759
@mattleibow would the changes be isolated only to CSS files? or are changes expected in any C# or XAML files too?

[2021-07-31 00:22] mattleibow commented on #759
I see we support css in Xaml under the resources, do that might need to be migrated too

[2021-08-02 05:36] sunilforever commented on #760
Thanks for prompt reply.

I didn't see any Warning in the Log.txt, it only shows the "Info" only. Also, if System.Deployment is not supported in core, would you please suggest me the alternate option?

[2021-08-02 11:35] kapilty opened #761 "Issue occurs while upgrading the project"
Problem encountered on https://dotnet.microsoft.com/platform/upgrade-assistant/tutorial/install-upgrade-assistant
Operating System: windows

[11:32:02 ERR] Project C:\LatestCode\avolin-saratoga-rich-client\Thin\Client\Neo\Neo.csproj cannot be loaded: Could not load project. Please ensure the selected VS instance has the correct workloads installed for your projects. If Upgrade Assistant selected t

[2021-08-02 17:27] twsouthwick commented on #761
Can you provide more details?

- What kind of project is it?
- What version(s) of VS do you have installed?
- What version(s) of VS do you normally build the project with?
- Have you tried what it is saying by passing a `--vs-path` as an argument to the command?

[2021-08-02 17:30] sunandabalu commented on #648
Since there is no response for the past month from OP, closing this. Feel free to re-open with more details as requested above in case this behavior is observed again.

[2021-08-02 17:30] #648 closed

[2021-08-02 17:31] sunandabalu commented on #669
Since there is no response from OP in the past month, closing this. Feel free to reopen if this issue still persists / provide more details as requested above.

[2021-08-02 17:31] #669 closed

[2021-08-02 17:32] sunandabalu commented on #720
Since there is no response from OP in the past 18 days, closing this. Feel free to reopen if the issue still persists and provide more details as requested above.

[2021-08-02 17:32] #720 closed

[2021-08-02 20:05] sunandabalu commented on #760
Unfortunately there isnt any supported way to use `system.deployment` in .net 5, there are some workarounds mentioned in the issue by members of the community, you could try the same if that suits your scenario - https://github.com/dotnet/deployment-tools/issues/53

[2021-08-02 20:13] sunandabalu commented on #760
Closing this issue, since there is no action item for UA to provide here.

[2021-08-02 20:13] #760 closed

[2021-08-02 23:41] Sweekriti91 commented on #759
@mattleibow  sounds good! I think this makes sense to add after the MVP of the MAUI extension work is complete. There are implementations I'm working on that can help with this issue. You can open a PR to add this support once my extension work is complete.

[2021-08-03 19:19] twsouthwick opened #765 "Operations against IDependencyCollection should log messages"
## Summary

When an IDependencyAnalyzer adds/removes/etc items to a IDependencyCollection, it should notify the user at an appropriate time.

## Motivation and goals

Since we can now add result information, it makes sense for it to control when that information is sent out to minimize duplication of message strings.

## Examples

When a developer writes

[code]

It should be written out to the co

[2021-08-04 19:46] KSchlobohm opened #767 "upgrade-assistant should use NuGet API to determine TFMs for packages"
## Summary
`upgrade-assistant` should use data from NuGet to determine the TFMs that a package supports rather than using custom logic.

## Motivation and goals
This removes custom logic from `upgrade-assistant` which makes it easier to maintain and improves the accuracy of our package upgrade process by leveraging data from a trusted source rather than custom business logic specific to `upgrade-a

[2021-08-04 19:50] KSchlobohm commented on #714
Relates to [sdk/issues/19391](https://github.com/dotnet/sdk/issues/19391)

[2021-08-05 16:21] sunandabalu opened #770 "Provide an option to apply TFM chosen to all projects irrespective of the project output type"
## Summary

Customers want to be able to override UA's logic of TFM filtering to .netstandard or .NET 5 /.NET 6 based on project output type in order to apply the same TFM to all types. More context in the discussion here - https://github.com/dotnet/upgrade-assistant/discussions/692#discussioncomment-1083453

## Motivation and goals

Customers need to manually change TFM from .netstandard to .NET

[2021-08-05 16:23] sunandabalu opened #771 "Please specify project name in log file"
### Discussed in https://github.com/dotnet/upgrade-assistant/discussions/716

<div type='discussions-op-text'>

<sup>Originally posted by **geetmenon** July 14, 2021</sup>
Default logging level for upgrade-assistant is INFORMATION. At this level, it does not log the name of the project/assembly/library. So its very hard to follow the log file when using upgrade-assistant to migrate solutions with

[2021-08-05 20:35] #622 closed

[2021-08-05 20:35] #586 closed

[2021-08-05 20:43] #707 closed

[2021-08-05 20:43] #708 closed

[2021-08-06 15:34] KSchlobohm opened #772 "Upgrade ASP.NET web apps side-by-side"
## Summary
When I run `upgrade-assistant` on my ASP.NET project it does several helpful things but ultimately produces a broken project. I can't check this in and for many large projects this starts me down the path of the well known anti-pattern of the "long lived feature branch".

## Motivation and goals
Instead of changing my working project into a broken one `upgrade-assistant` should give me

[2021-08-06 19:07] Sweekriti91 commented on #591
** UPDATED NAMESPACE CHANGES in C# SOURCE **
Xamarin.Forms.* -> Microsoft.Maui;

&& Micorosft.Maui.Controls;

Xamarin.Essentials.* -> Microsoft.Maui.Essentials;

Xamarin

Color.[NamedColor] -> Microsoft.Maui.Colors.[NamedColor]
Color API Changes: https://gist.github.com/hartez/593fc3fb87035a3aedc91657e9c15ab3

Shapes, Point -> add using Microsoft.Maui.Graphics;

[2021-08-06 19:08] Sweekriti91 commented on #590
** UPDATED NAMESPACE CHANGES in C# SOURCE **
Xamarin.Forms.* -> Microsoft.Maui;  && Micorosft.Maui.Controls;

Xamarin.Essentials.* -> Microsoft.Maui.Essentials;

Color.[NamedColor] -> Microsoft.Maui.Colors.[NamedColor]
Color API Changes: https://gist.github.com/hartez/593fc3fb87035a3aedc91657e9c15ab3

Shapes, Point -> add using Microsoft.Maui.Graphics;

[2021-08-06 19:10] alexkblount commented on #591
absolute layout will require the following:
`xmlns:cmp="clr-namespace:Microsoft.Maui.Controls.Compatibility;assembly=Microsoft.Maui.Controls"`

`<cmp:AbsoluteLayout BackgroundColor="#909090"
                        HeightRequest="60">
            <Button Text="Cancel"
                    Margin="10,10"
                    Style="{StaticResource nakedButton}" />
            <Image cmp:AbsoluteLayou

[2021-08-09 19:51] Sweekriti91 commented on #591
RelativeLayout  is compat too, similar update to absolute might be needed

[2021-08-09 20:59] Sweekriti91 opened #774 "MAUI XAML Layout related updates"
Adds more specifics, building on information here : https://github.com/dotnet/upgrade-assistant/issues/591

[2021-08-09 21:01] Sweekriti91 commented on #774
` xmlns:cmp="clr-namespace:Microsoft.Maui.Controls.Compatibility;assembly=Microsoft.Maui.Controls"`

Add compat for : AbsoluteLayout, RelativeLayout

[2021-08-09 21:11] hartez commented on #774
Forms has a default value of 6 for Grid.RowSpacing, Grid.ColumnSpacing, and StackLayout.Spacing. MAUI uses a default of zero for these values. So for folks updating from Forms to MAUI, we should add global styles for Grid and StackLayout to restore the Forms default values. Something like:

[code]

[2021-08-10 01:47] phr00t opened #775 "Failure on "dotnet tool install -g upgrade-assistant""
Why the heck is it trying to get the upgrade-assistant from packages.xenko.com!?

Problem encountered on https://dotnet.microsoft.com/platform/upgrade-assistant/tutorial/install-upgrade-assistant
Operating System: windows

C:\Users\Phr00t>dotnet tool install -g upgrade-assistant
C:\Program Files\dotnet\sdk\5.0.302\NuGet.targets(131,5): error : Failed to retrieve information about 'upgrade-assistan

[2021-08-10 16:57] sunandabalu commented on #775
looks like packages.xenko.com is defined as a source in your nuget.config. If you remove that then it should not be using that as a source. The other option is to try with `--ignore-failed-sources`

[2021-08-10 17:26] phr00t commented on #775
Removing the Xenko source worked! I did it through Visual Studio Tools -> Nuget Package Manager -> Package Manager Settings -> Package Sources.

[2021-08-10 17:26] #775 closed

[2021-08-10 17:57] sunandabalu opened #776 "DiagnosticAnalysisRunner should include CodeFixProvider logic as well"

[2021-08-10 22:18] #19 closed

[2021-08-10 22:36] sunandabalu opened #779 "Winforms Analyzers and Code fix providers"
- [ ] #1058
- [ ] #884
- [x] #883

[2021-08-10 23:02] sunandabalu opened #780 "Dependency Analyzer for Chart Control"
Add a dependency analyzer to add reference to the new nuget package if System.Windows.Forms.DataVisualization.Charting package is being used in csproj. Make the analyzer throw a warning with a link to the doc.

[2021-08-10 23:52] sunandabalu opened #781 "IUpgrader to flag Default Font"
Add a IUpdater implementation to check for Winforms project type and point to [Windows Forms breaking changes - .NET | Microsoft Docs](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fdotnet%2Fcore%2Fcompatibility%2Fwinforms%23default-control-font-changed-to-segoe-ui-9-pt&data=04%7C01%7Csubal%40microsoft.com%7C743d5268f21f4897e90d08d95aebe05a%7C72f988b

[2021-08-10 23:52] sunandabalu opened #782 "ApiAlertAnalyzer to flag Deprecated Menu Controls"
All removed controls are listed [here](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fdotnet%2Fcore%2Fcompatibility%2Fwinforms%23removed-controls&data=04%7C01%7Csubal%40microsoft.com%7C743d5268f21f4897e90d08d95aebe05a%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C637640791433032205%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik

[2021-08-10 23:52] sunandabalu opened #783 "ApiAlertAnalyzer to flag Report Viewer"
Add an entry in the unsupported API analyzer to check for  Microsoft.Reporting.WinForms.ReportViewer usage and throw a warning that it is unsupported

[2021-08-10 23:53] sunandabalu opened #784 "ApiAlertAnalyzer to flag Output Type Exe -> WinExe"
Add an entry in the unsupported API analyzer to check for Winforms project type and point to [Breaking change: OutputType set to WinExe for WPF and WinForms apps - .NET | Microsoft Docs](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fdotnet%2Fcore%2Fcompatibility%2Fsdk%2F5.0%2Fautomatically-infer-winexe-output-type&data=04%7C01%7Csubal%40microsoft.co

[2021-08-10 23:58] sunandabalu opened #785 "Analyzer and CodeFixer for HighDPIMode"

[2021-08-11 00:02] sunandabalu opened #786 "Add support for HTML output format"

[2021-08-11 00:25] twsouthwick commented on #786
Would the react sarif viewer not work?

[2021-08-11 00:46] Sweekriti91 opened #788 "Register Custom Controls in Startup.cs of .NET MAUI Head project"
[Good to Have]

From Shane's Comments in https://github.com/dotnet/upgrade-assistant/issues/588

[2021-08-11 00:48] Sweekriti91 opened #789 ".NET MAUI C# API Changes -> create Analyzers + Code fixes"
Breaking up tasks from https://github.com/dotnet/upgrade-assistant/issues/590

Remaining work :
Color.[NamedColor] -> Microsoft.Maui.Colors.[NamedColor]
Color API Changes: https://gist.github.com/hartez/593fc3fb87035a3aedc91657e9c15ab3

Shapes, Point -> add using Microsoft.Maui.Graphics;

*Colors* follow up on BlueViolet if removed or back

[2021-08-11 00:48] Sweekriti91 commented on #788
Duplicate https://github.com/dotnet/upgrade-assistant/issues/656

[2021-08-11 16:57] sunandabalu commented on #786
It might just work, it seems to just be doing the job - https://microsoft.github.io/sarif-web-component/ . I will need to play around this a bit to get some customer feedback on this as well.

[2021-08-11 23:03] #776 closed

[2021-08-12 09:55] aeonblaire commented on #774
Why is AbsoluteLayout being relegated to compatibility? I think it is still useful for custom layouts. Is TranslationX and TranslationY enough for absolute positioning inside the official layouts? What would be the alternative method for relative positioning?

[2021-08-12 22:29] alexeystrakh commented on #774
In my case the markup was trying to reference FlexDirection like this:

[code]

And I was getting the following error:

[code]

I had to explicitly define the type namespace, don't forget the assembly name as well and then use it with that namespace:

[code]

This is a breaking change because in the original xaml markup with the original Xamarin.Forms no explicit namespace definition is required.

[2021-08-16 19:32] Sweekriti91 opened #797 "Re-think Multitarget Project Flows"
## Summary

As part of adding the Xamarin to .NET MAUI multitarget project migration feature, I would like to discuss how to best adjust the current flows in UA for multitarget projects.

## Motivation and goals

At the moment, there are 2 issues being hit in the current process :

- [Ready Check for Multitarget project](https://github.com/dotnet/upgrade-assistant/blob/main/src/components/Microsof

[2021-08-16 19:53] #780 closed

[2021-08-16 19:58] sunandabalu commented on #784
N/A anymore since this change is being reverted - https://github.com/dotnet/docs/issues/25636

[2021-08-16 19:58] #784 closed

[2021-08-16 20:02] Sweekriti91 commented on #657
https://github.com/xamarin/xamarin-android/blob/main/Documentation/guides/OneDotNetBindingProjects.md#migration-considerations

 For Android lib, need to add these
[code]

[2021-08-17 14:27] NikolaosWakem commented on #760
Does anyone know why the developers of .NET5 and .NET6 are still refusing to put ActivationUri somewhere or even explain any other way to access it?

We all have to ship a 4.7.2 ClickOnce app with a packaged .NET 5 app included, just to do

var uri = ApplicationDeployment.CurrentDeployment.ActivationUri
process.start("theNet5App.exe", "--uri" +uri )

Which is so silly.

[2021-08-17 14:39] tarakpatel1985 opened #799 "Error CA0055 : Could not identify platform for '{Project location}\bin\Debug\net5.0\{project}.dll'."
Problem encountered on https://dotnet.microsoft.com/platform/upgrade-assistant/tutorial/install-upgrade-assistant
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

i am updating library to .net 5 from framework 4.7 and after upgrading, i am getting below err

[2021-08-17 16:35] twsouthwick commented on #799
Can you provide the csproj? Ideally for before and after?

[2021-08-17 17:32] sunandabalu commented on #610
This is addressed, closing this issue.

[2021-08-17 17:32] #610 closed

[2021-08-17 17:37] sunandabalu opened #801 "Upgrading a project to .NET 6 Preview with VS2022 fails"
### Discussed in https://github.com/dotnet/upgrade-assistant/discussions/769

<div type='discussions-op-text'>

<sup>Originally posted by **simmotech** August  5, 2021</sup>
I don't have .NET 5 on my machine, only the .NET 6 preview as I was planning to go directly to that when it is released in November.
I've made copies of my projects and was going to play with VS2022 (64bit - yay!) and .NET 6 t

[2021-08-18 19:29] mjrousos opened #805 "Analyze command should give more details in console output"
I've been experimenting with the Analyze command. The Sarif output file is really cool, but it would be great if all the updates needed were also listed in the console so that I could easily get a sense of needed changes as soon as the tool executes.

Currently, necessary package updates are listed but for diagnostics, the Analyze command only says `Identified 16 diagnostics in project eShopLegacy

[2021-08-18 19:30] compunited opened #806 "dotnet tool install -g upgrade-assistant takes wrong source"
dotnet tool install -g upgrade-assistant
leads to
C:\Program Files\dotnet\sdk\6.0.100-preview.7.21379.14\NuGet.targets(131,5): error : Fehler beim Abrufen von Informationen zu "upgrade-assistant" aus der Remotequelle "https://pkgs.dev.azure.com/GreenerSoftware/_packaging/fd0f674f-868a-4655-8ddd-8c3f2360dad8/nuget/v3/flat2/upgrade-assistant/index.json". [C:\Users\kugle\AppData\Local\Temp\vwazqmm3.4

[2021-08-18 19:33] twsouthwick commented on #801
This is a good point. I've also noticed we don't pick up the .NET 6 SDK if we're targeting .NET 5.

Maybe we can try cross-compiling for both so that people can use both. Not sure how that will work with `try-convert` though....

[2021-08-18 20:14] sunandabalu commented on #805
Seems reasonable to me, we could just log to console when we are processing each of the diagnostics in the `ProcessDiagnostics` method - https://github.com/dotnet/upgrade-assistant/blob/main/src/extensions/default/Microsoft.DotNet.UpgradeAssistant.Steps.Source/DiagnosticAnalyzerResultProvider.cs#L60 that way this happens only for analyze and not for upgrade.

[2021-08-18 20:33] sunandabalu commented on #783
Closed via #800

[2021-08-18 20:33] #783 closed

[2021-08-18 20:33] sunandabalu commented on #782
Closed via #800

[2021-08-18 20:33] #782 closed

[2021-08-19 20:30] #587 closed

[2021-08-19 20:30] #588 closed

[2021-08-19 20:30] #552 closed

[2021-08-19 20:30] #551 closed

[2021-08-19 20:30] #589 closed

[2021-08-19 20:30] #590 closed

[2021-08-19 20:30] #755 closed

[2021-08-19 22:05] twsouthwick commented on #91
Some challenges to adding this:

- It's difficult to understand TFM specific items in the csproj. Packages specific per target e.g.
   We may be able to have a `IProject.GetView(TargetFramework)` that exposes an `IProject` scoped to the TFM to isolate out specific items/properties/etc
- Package Upgrade Logic
- Source updaters may behave differently due to different preprocessors/reference assembli

[2021-08-19 22:32] Sweekriti91 opened #808 "Investigate Technical Challenges for Multitarget Support for Nuget dependencies"
Current Nuget logic, looks at all dependencies at once, it does not have per TFM check. Understand how much work would be needed in this area to support Multitarget Frameworks upgrade scenario.

[2021-08-19 22:34] Sweekriti91 opened #809 "Investigate technical challenges in Source Code updates for Multitarget Support"
Investigate Source updater/Code fixer paths for Multitargeting support in UA. There could be challenges with pre-processors, multi TFMs may have pre-processors that would need to be handled in this step.

[2021-08-19 22:37] Sweekriti91 opened #810 "Investigate Technical Challenges in Project properties"
It's difficult to understand TFM specific items in the csproj. Packages specific per target e.g. Investigate how much work this would be, best logic to handle this secario

[2021-08-19 22:43] Sweekriti91 commented on #797
Based on our call today :

Main action Item, I will look into `MinimumDependencyTarget` to fix the merge TFM logic and add multitarget support. This should allow me to remove the if/else added to skip the check for MAUI project components. First step in incremental approach to enabling multitarget support globally in UA.

I also created issues in the [Multitargeting Epic](https://github.com/dotnet

[2021-08-20 01:58] sumi-prohome opened #811 "Conversion failed with error : Cannot find targets. Please ensure that the project is fully restored."
Problem encountered on https://dotnet.microsoft.com/platform/upgrade-assistant/tutorial/install-upgrade-assistant
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-08-20 19:34] sunandabalu opened #813 "Cleanup generic exception handling"
For context - https://github.com/dotnet/upgrade-assistant/pull/812#discussion_r693134040

[2021-08-20 22:41] #781 closed

[2021-08-23 16:46] twsouthwick commented on #811
Can you provide the result of `dotnet --list-sdks` and the full `log.txt` that is generated by default?

[2021-08-23 16:47] twsouthwick commented on #806
You're trying to install it in a directory that already has a NuGet.config with sources that don't have it available. You can either go to another adirectory or do `dotnet tool install -g upgrade-assistant --ignore-failed-sources`

[2021-08-23 17:47] GrassHopper547 commented on #811
Hi @twsouthwick,
Thank you for responding!
I do not have log.txt file. The generated file is UpgradeWizardLog which I suppose is different.

![image](https://user-images.githubusercontent.com/78116117/130493057-0fcb8fa8-e1c7-4493-84a6-867ac879b522.png)

[2021-08-24 04:31] GrassHopper547 commented on #811
@twsouthwick The upgrade is complete now. Deleting the cache helped. I found that solution here - https://stackoverflow.com/questions/40912757/nuget-package-restore-failed-for-project-project-unable-to-find-version-2-0-0-o

[2021-08-24 19:48] twsouthwick opened #817 "NuGet API throws MethodNotFound on some versions of .NET SDK"
### Describe the bug
We are compiling against a specific version of NuGet APIs, but are loading the runtime versions from the .NET SDK. With 5.0.400 of the SDK, the integration tests fail.

### To Reproduce
Run integration tests with .NET SDK v5.0.400

### Exceptions (if any)
[code]

[2021-08-24 19:48] twsouthwick commented on #817
I'm going to look at moving the NuGet related usage into an extension then it'll load in its own AssemblyLoadContext and we won't be subjected to these kind of errors

[2021-08-25 05:17] bamdad-b opened #820 "Problem with tt files"
For each tt file to be transformed in design-time, there is a block in .net framework 4 csproj file:
[code]
And in .NET 5 there should be:
[code]
But the upgrade-assistant deleted all of the relations.

[2021-08-26 07:32] sandeepd12 opened #827 "Upgrade-Assistant porting to .Net Standard 2.0 instead of .Net Core"
I tried converting class libraries from .Net framework 4.8 to .Net 5.0 using Upgrade assistant. However out of 4 class libraries only one is migrated to .Net 5.0. Whereas, remaining 3 are ported to .Net Standard 2.0 instead of .Net 5.0.
Can anyone help me out in this?

[2021-08-26 08:18] simmotech opened #828 "Migrating Custom Tool setting"
One thing the upgrade-assistant seemed to miss was the Custom Tool for a .resx file. (and possibly the Custom Tool Namespace though mine are blank anyway).

[2021-08-30 21:42] ryanliang88 opened #836 "Package analysis failed"
- [ ] Include the log file `upgrade-assistant.clef` that is produced in the working directory

### Describe the bug
A clear and concise description of what the bug is.

Bug believed to be here
https://github.com/dotnet/upgrade-assistant/blob/09731053296437986b252866f024ff9e4ce8ee08/src/extensions/default/Microsoft.DotNet.UpgradeAssistant.Steps.Packages/Analyzers/TargetCompatibilityReferenceAnalyze

[2021-08-31 12:54] laipd opened #838 "System.Exception: 'Handler not found for view Microsoft.Maui.Controls.Compatibility.RelativeLayout.'"

[2021-08-31 16:32] #838 closed

[2021-08-31 16:32] laipd commented on #838
close

[2021-08-31 17:35] twsouthwick commented on #836
@sunandabalu Can you take a look at this? Looks to be in the analysis feature

[2021-08-31 17:38] twsouthwick commented on #827
I'll close this for now, but if you have other issues, please reopen!

[2021-08-31 17:38] #827 closed

[2021-08-31 17:40] twsouthwick commented on #820
Probably related to #828.

[2021-08-31 17:43] twsouthwick commented on #813
Probably should see if we can catch specific exceptions, or just turn it off. Generic exception handling should be more at the entrypoint level rather than deep within the code.

[2021-08-31 17:46] twsouthwick commented on #806
Closing for now. If that doesn't work, please reopen.

[2021-08-31 17:46] #806 closed

[2021-08-31 17:52] twsouthwick commented on #806
Opened https://github.com/dotnet/sdk/issues/20396 to track not looking at local nuget.config entries

[2021-09-02 15:37] Sweekriti91 opened #839 "Android Themes , either replace for Material Components or show docs to handle unrecognized themes"

[2021-09-02 15:37] robinne commented on #95
I have .net 3 and 5 installed but the upgrade assistant seems to ignores "Current" (at time of writing Current = 5.0.9) and tries to use 6.0 Preview:

`PS ...> **upgrade-assistant upgrade --target-tfm-support Current .\ASRTemplateProject.sln**
It was not possible to find any compatible framework version
The framework 'Microsoft.NETCore.App', version '6.0.0-preview.7.21377.19' was not found.
  - Th

[2021-09-02 19:28] MisinformedDNA opened #841 "Upgrade startup fails for Xamarin Android project"
### Describe the bug
Cannot upgrade Xamarin Android project

### To Reproduce
1. Create a new Xamarin.Forms project.
2. Run `upgrade-assistant upgrade .\App1.Android.csproj`

I've tried running this in `Powershell Core` and `Developer Powershell for VS 2022 Preview`.

### Exceptions (if any)
PS C:\temp\App1\App1\App1.Android> upgrade-assistant upgrade .\App1.Android.csproj
------------------------

[2021-09-02 20:13] Sweekriti91 commented on #841
Hi! Thanks for testing the tool and reporting the issue. Could you check the following?

- .NET MAUI workloads installed? You can follow the instructions [here](https://docs.microsoft.com/en-us/dotnet/maui/get-started/installation)

- Can you confirm that you are able to build and run a .NET MAUI project?

- In the Xamarin project folder, can you delete all bin/obj folders before running upgrade-a

[2021-09-02 20:45] MisinformedDNA commented on #841
It was the bin/obj folders. Thanks.

[2021-09-02 20:45] #841 closed

[2021-09-02 22:01] MisinformedDNA opened #843 "Xamarin Android upgrade cannot build"
- [ X] Include the log file `upgrade-assistant.clef` that is produced in the working directory

### Describe the bug
Upgrading a Xamarin Android project results in an unbuildable state

### To Reproduce
Create a new Xamarin.Forms project.
Run `upgrade-assistant upgrade .\App2.Android.csproj`

### Exceptions (if any)

Problems

1. `App2.csproj` was not automatically upgraded, so `Startup` doesn't e

[2021-09-04 13:35] Roneri75 opened #844 "Can't get --vs-path working"
So i'm trying to upgrade a ASP.net project from .NET Framework 4.7 to .Net 5.
I have VS 2019.11.2 installed but i also have VS 2022 Preview 3.1 installed.
When i try to run the upgrade installer with the --vs-path set i get this:
'--vs-path' was not matched. Did you mean '--vs-path'?

This is the command I'm running:
upgrade-assistant --vs-path "C:\Program Files (x86)\Microsoft Visual Studio\2019\

[2021-09-07 17:19] sunandabalu commented on #843
@Sweekriti91 Could you take a look?

[2021-09-07 17:46] sunandabalu commented on #811
Next steps to figure out what nuget APIs we can use to clean up transitive dependencies.

[2021-09-07 17:48] sunandabalu commented on #844
@Roneri75 The upgrade / analyze command needs come before the options (--vs-path) basically `upgrade-assistant <command> <options>`.

[2021-09-07 17:49] #844 closed

[2021-09-07 17:56] Sweekriti91 commented on #843
As of right now, the MAUI extension is still a work in progress and the result migrated project is not 100% completely migrated. There are still a few more steps that need to be done manually to complete the migration. You can checkout the migration steps [here](https://docs.microsoft.com/en-us/dotnet/maui/get-started/migrate) and [here](https://github.com/dotnet/maui/wiki/Migrating-from-Xamarin.F

[2021-09-07 22:33] sunandabalu commented on #836
@ryanliang88 Could you attach the log file and / or the csproj you are seeing this issue for?

[2021-09-08 01:03] ryanliang88 commented on #836
Log file has been attached below (with some packages removed for general privacy reasons. Please specify further if needed)
[log.txt](https://github.com/dotnet/upgrade-assistant/files/7125016/log.txt)

[2021-09-08 09:08] Nadare2012 opened #846 "How to use --entry-point option?"
Hello, I am trying to upgrade solution with many projects, starting from specific project (entry point). I tried to use --entry-point options with many arguments: full path to csproj file, relative path to csproj file, project name, project number (from selection step), but all of them was ignored.

For example: create solution with 2 console applications. Typing ```upgrade-assistant upgrade Conso

[2021-09-08 10:47] Nadare2012 commented on #846
Specifying csproj filename worked (ConsoleApplication1.csproj)
```upgrade-assistant upgrade ConsoleApplication1.sln -e ConsoleApplication1.csproj```

I think throwing an exception when the entry point is not recognized would be better than ignoring argument.

[2021-09-08 21:05] sunandabalu commented on #836
@ryanliang88 I don't see the `System.InvalidOperationException` in the log that you have attached, was it one of the package mentions you cleaned up for privacy reasons?

[2021-09-08 23:56] ryanliang88 commented on #836
The exception I specified isn't in the logs and was not ever logged. I suspected it may be that because the error that's in the log is the following line 260:

2021-09-01 15:29:28.013 -07:00 [FTL] Package analysis failed (analyzer Target compatibility reference analyzer: Collection was modified; enumeration operation may not execute.

which I believe is usually the `System.InvalidOperationExceptio

[2021-09-09 19:52] sunandabalu commented on #846
@Nadare2012 Thanks, this is a good suggestion to incorporate.

[2021-09-14 20:06] carterlist commented on #394
Does this mean it's currently impossible to build a WPF application with ClickOnce in Azure? What is the timeline for resolving this issue?

[2021-09-14 20:56] sunandabalu opened #849 "Multiple calls to MSBuild ReloadWorkspace causing perf issues"
For each of the projects being processed there are multiple times reloading of workspace seems to happen even before any actual steps in upgrade / analyze takes place. For a project with a long dependency list (eg., a project with dependency on ~120 projects) all of the projects are loaded several times for each of the operation on any of the projects, in this case the operation was to GetComponen

[2021-09-15 17:16] ryanliang88 commented on #836
Any update to this bug?

[2021-09-15 19:14] sunandabalu commented on #836
@ryanliang88 Is this bug blocking your ability to use UA for upgrade / analyze ? Unfortunately no progress on this yet due to other competing priorities, if this is blocking then we can consider re-prioritizing work on this bug.

[2021-09-15 19:19] ryanliang88 commented on #836
It's not completely blocking, but it's blocking the "Update NuGet Packages" step which I've attempted to migrate manually. I was hoping to have this fixed and confirm that I've migrated correctly but it's fine to leave as is for the meantime.

Thanks for the update

[2021-09-15 20:04] sunandabalu commented on #836
@ryanliang88 Adding a simple fix to unblock you - https://github.com/dotnet/upgrade-assistant/pull/850

[2021-09-15 20:08] ryanliang88 commented on #836
Lovely, thank you. Do I just wait for PR approval and then rerun the following?:
`dotnet tool install -g upgrade-assistant`

[2021-09-15 20:30] sunandabalu commented on #836
Once the PR is merged, you will need to pick the tool update from the public AzDO feed like `dotnet tool update -g upgrade-assistant --add-source https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json`

[2021-09-15 20:37] ryanliang88 commented on #836
I'll give it a shot. Thanks again!

[2021-09-15 22:37] ryanliang88 commented on #836
I ran the following twice and it says that:
`dotnet tool update -g upgrade-assistant --add-source https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json`

Tool 'upgrade-assistant' was reinstalled with the latest stable version (version '0.3.246302').

What is the version for the PR that was just completed and how do I get it?

[2021-09-15 23:32] #836 closed

[2021-09-15 23:34] sunandabalu commented on #836
I just merged the PR, we need to wait for the CI to pick the commit and push to the feed. I'll let you know when the process completes.

[2021-09-15 23:34] ryanliang88 commented on #836
Great to hear. Thank you!

[2021-09-16 01:22] sunandabalu commented on #836
@ryanliang88 The change is pushed to nuget, you can pick the version 0.3.246501 to get the change.

[2021-09-16 03:26] ryanliang88 commented on #836
The bug itself can be considered fully resolved. I'm now unfortunately running into the following issue which is exactly what I had to try to do. Is there anything we can do about this?

https://github.com/dotnet/upgrade-assistant/blob/9814e6485222fc73128b9fdc64633c6a5322b57b/src/extensions/default/Microsoft.DotNet.UpgradeAssistant.Steps.Packages/PackageUpdaterStep.cs#L142

[2021-09-16 04:45] sunandabalu commented on #836
@mjrousos could you provide some guidance here?

[2021-09-16 15:40] Jayaram-ces opened #851 "Migrate Xamarin.Forms app to MAUI app"
### Description
Create a simple Xamarin forms app and try to upgrade to MAUI app. When trying to migrate Xamarin.Forms.Android project getting project.assets.json is unavailable.

###  Repo
1. After upgrading shared code csproj.
2. Try to upgrade Xamarin.Forms.Android csproj.
3. Getting the below error.

### Error
[20:54:38 INF] Initializing upgrade step Select project to upgrade
[20:54:38 INF] Sk

[2021-09-16 15:52] mjrousos commented on #836
The PackageUpdaterStep runs dependency analyzers repeatedly until it stops finding things that need to be updated. This is done so that if a later analyzer makes a change previous analyzers have an opportunity to react to it.

Hitting this error is almost certainly a UA bug, but I can't think of why @sunandabalu's recent fix would have triggered it. @ryanliang88, are you able to share the csproj f

[2021-09-16 17:34] ryanliang88 commented on #836
I will get back to you ASAP as it's a potential privacy concern that may require review.

[2021-09-16 22:24] cathysull opened #854 "Understand which versions of .NET are being targeted during upgrade"
Current, LTS, or Preview for example

[2021-09-18 10:04] charakarangana opened #856 "Unexpected exception while applying Razor updater "Apply code fixes to Razor documents""
[](url)
### Describe the bug
unable to perform Apply Code fixes to Razor documents

1. [Complete] Back up project
2. [Complete] Convert project file to SDK style
3. [Complete] Clean up NuGet package references
4. [Complete] Update TFM
5. [Complete] Update NuGet Packages
6. [Complete] Add template files
7. [Complete] Update Winforms Project
    a. [Complete] Default Font API Alert
8. [Complete] Upg

[2021-09-20 16:56] sunandabalu commented on #856
@mjrousos When you get a chance, could you take a quick look at this issue?

[2021-09-20 16:57] sunandabalu commented on #851
@Sweekriti91 When you get a chance, could you take a look at this issue?

[2021-09-20 18:27] sunandabalu opened #858 "Support for analysis for multiple solutions / repo level analysis"

[2021-09-20 22:57] twsouthwick opened #859 "Extensions should be able to specify versions as semantic versions"
An extension currently defines a version as the following:

[code]

This breaks if an extension defines a version using semantic versioning. We should update it to something that can accommodate that such as the following.

[code]

[2021-09-20 23:36] Sweekriti91 commented on #851
Hi! Thanks for testing the tool and reporting the issue. Could you check the following?

- .NET MAUI workloads installed? You can follow the instructions [here](https://docs.microsoft.com/en-us/dotnet/maui/get-started/installation)

- Can you confirm that you are able to build and run a .NET MAUI project?

- In the Xamarin project folder, can you delete all bin/obj folders before running upgrade-a

[2021-09-20 23:57] twsouthwick opened #860 "Enable signing on loose assembly projects"
Currently the packages are being built outside of the msbuild pipeline and after the sign/publish step. This creation needs to occur before the sign/publish.  Possible options:

- Integrate the creation into a msbuild target. This is challenging as we need to run the CLI project against the output of the extensions - possible, but tricky
- Separate out the build/test phases of the cibuild.bat from

[2021-09-21 05:32] Jayaram-ces commented on #851
Hello Sweekriti,
Thanks for the response. I have installed .NET MAUI workloads and I was able to run .NET MAUI project. I am not sure whether I have cleared bin/obj in the Xamarin project when I run the tool. Let me try and get back.

[2021-09-23 18:23] sunandabalu opened #861 "Provide option to only run a specific analysis with analyze command"
eg: only run package analysis or API analysis.

[2021-09-27 06:48] abadru opened #862 "command not found: upgrade-assistant"
Problem encountered on https://dotnet.microsoft.com/platform/upgrade-assistant/tutorial/install-upgrade-assistant
Operating System: Mac OS

I have installed the upgrade-assistant tool globally on Mac OS using the command: **dotnet tool install -g upgrade-assistant**
 and got feedback that was successfully installed, but I get the following error when I try to execute the command **upgrade-assistan

[2021-09-27 17:03] twsouthwick opened #864 "Identify some useful technology areas"
We should expand what areas we are identifying for technology areas.

- [ ] MVC (currently covered by ASP.NET)
- [ ] WebForms (currently covered by ASP.NET)
- [ ] WebAPI (currently covered by ASP.NET)
- [ ] WCF

[2021-09-27 21:56] KSchlobohm opened #865 "Set class libraries for web apps to multi-target .net framework and .net standard"
## Summary

When the **entrypoint** is an ASP.NET web app the tool should handle class library projects differently. Instead of trying to transition to `netstandard2.0` the class library should be multi-targeted to `netstandard2.0` and to target a .Net framework version compatible with the web app.

## Motivation and goals

Currently the tool will convert class libraries to `netstandard2.0` as the

[2021-09-28 17:22] sunandabalu commented on #862
@abadru Thanks for filing the issue, we do not have support for upgrade-assistant to run on MacOS yet. We are tracking this in #550 , so closing this in favor of that.

[2021-09-28 17:22] #862 closed

[2021-09-28 17:36] mjrousos commented on #865
One challenge here will be code fixers. If a code fix provider (used by the source updater step) would replace a .NET Framework-only API with a .NET Core or .NET Standard-only one, what does it do with multi-targeted projects? At the moment I think the only code fixers like that are for web scenarios and hopefully there aren't too many libraries with System.Web dependencies. But in cases where the

[2021-09-29 07:35] MarkSandy opened #868 "After installing upgrade-assistant execution fails with "command is either misspelled or could not be not found""
Problem encountered on https://dotnet.microsoft.com/platform/upgrade-assistant/tutorial/install-upgrade-assistant
Operating System: windows

I installed the upgrade-assistant using "dotnet tool install -g upgrade-assisntant" successfully and then entered "upgrade-assistant" [ENTER]
The error (in german) reads
Der Befehl "upgrade-assistant" ist entweder falsch geschrieben oder
konnte nicht gefunden

[2021-09-29 20:13] nkolev92 commented on #252
The issue here applies to simply PackageReference update as well. It doesn't have to Central package management (SDK or built-in feature).

Example:

csproj sample:
[code]

DBP sample
[code]

[2021-10-01 20:57] twsouthwick commented on #868
Can you provide the output of `dotnet tool list -g`?

[2021-10-02 18:45] cmamal5 opened #876 "hi i i have 2 projects in 1 solution i have successfully migrated the 2nd one to .net core 5 But the first project is not migrating"
Problem encountered on https://dotnet.microsoft.com/platform/upgrade-assistant/tutorial/install-upgrade-assistant
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error me
![Screenshot (4)](https://user-images.githubusercontent.com/55782696/135728393-3131ac04-c60b-4afc-8884-78a67c69a66c.png)
ssage, code sample, and anyth

[2021-10-04 07:47] MarkSandy commented on #868
Hi Taylor

Sure

Paket-ID               Version         Befehle
--------------------------------------------------------
upgrade-assistant      0.3.246501      upgrade-assistant

Kind regards

Mark

Mark Sandy
Senior Lead IT Architect

Mobil +49 151 544 22 470
***@***.***
Voßstraße 33, 10117 Berlin

MaibornWolff GmbH, Theresienhöhe 13, 80339 München
www.maibornwolff.de, Telefon +49 89 544 253 000

[2021-10-04 20:35] twsouthwick commented on #876
Hi @cmamal5  - can you share the project? Or the `upgrade-assistant.clef` file produced by the tool? You may DM me if you'd like

[2021-10-04 23:18] cathysull opened #879 "Upgrade Assistant is ready for .NET 6 GA"
This issue will track all the things we need to do to get the tool and experience ready for .NET 6 GA:

- Rev the NuGet package version number to 1.0.x
- Update the Current, LTS, and Preview target version numbers (at GA, all 3 will be 6.0)

[2021-10-07 16:45] sunandabalu opened #880 "Make Roslyn the default source updater"
At the moment reaching non-cs files (like app.config) from Roslyn Analyzers is not straightforward, so we have a few places that use IUpdater to update source code, if we want to centralize all source updates to be Roslyn-based then here are some ideas on them :

- For the diagnostic to be available when using just the nupkg, we'd want to add a targets file that would add any config files to addit

[2021-10-08 05:36] SVD102 opened #882 "Installation error"
Problem encountered on https://dotnet-microsoft-com.translate.goog/platform/upgrade-assistant/tutorial/install-upgrade-assistant?_x_tr_sl=en&_x_tr_tl=ru&_x_tr_hl=ru&_x_tr_pto=nui,sc
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

![image](https://user-imag

[2021-10-08 20:25] sunandabalu opened #883 "WinformsResultProvider not picking all the IUpdaters"
WinformsResultProvider for Analzye command is only picking one the WinformsUpdater and not all of them.

[2021-10-08 20:27] sunandabalu opened #884 "WinformsDpiSettingUpdater need to read app.mainfest file as well"
Currently the updater only looks at app.config, it needs to process app.manifest file too if one exists.

[2021-10-10 22:24] gregpakes opened #887 "non-interactive upgrade is too slow."
- [ ] Include the log file `upgrade-assistant.clef` that is produced in the working directory

I cannot include this file as it is 1GB.

![image](https://user-images.githubusercontent.com/102243/136714749-bfee035a-28f5-4ebd-9b65-28c4aa5b3e64.png)

### Describe the bug
I left the upgrade assistant running over the weekend in non-interactive mode on a 357 project.  After the entire weekend (friday->

[2021-10-18 09:52] dotjpg3141 opened #893 "ArgumentNullException in "UA0001: ASP.NET Core projects should not reference ASP.NET namespaces""
### Describe the bug

I'm getting a ArgumentNullException in the step `Apply code fixes to Razor documents` for `UA0001`:

### To Reproduce
`upgrade-assistant --ignore-unsupported-features --non-interactive --skip-backup xy.sln`

### Exceptions (if any)
[code]

### Further technical details
- Windows 10 64-Bit
- `dotnet --list-sdks`
[code]
- `upgrade-assistant --version`
[code]

Edit1: The analyze

[2021-10-18 17:14] sunandabalu opened #895 "The analyzer step is pretty slow - 15-30 seconds per `Applying upgrade step`"

[2021-10-18 17:20] sunandabalu commented on #893
@dotjpg3141 Thanks for filing this issue. We are aware of perf issues that we are looking at , I have added the one you mentioned to the list - https://github.com/dotnet/upgrade-assistant/issues/895 - as well.
We currently do not have support for skipping steps in `--non-interactive` unfortunately, as part of enabling solution wide update we are looking at making changes to step so users can speci

[2021-10-19 16:04] KSchlobohm opened #896 "Separate the project file conversion and PackageReference migration steps"
## Summary

`upgrade-assistant` currently uses `try-convert` to perform both migrations at the same time. These two steps should be separated so that we can choose to commit, merge, and test the changes in a more granular approach.

## Motivation and goals

The packages.config migration to PackageReference is a distinct step with distinct responsibilities. As the step handles more of these respons

[2021-10-20 13:58] sunilforever opened #897 "Getting several errors after upgradation of .Net Framework 4.8 project to .Net 6"
Hi,
We have a project built in ".Net Framework 4.8" and Application Type of which is "Windows Service". We tried to upgrade that project to ".Net 6" with command "upgrade-assistant upgrade --target-tfm-support Preview MySolution.sln", it was upgraded, but when we build it, it gave us several errors for below packages missing. We tried to add these packages from NuGet, but didn't find ant of these

[2021-10-20 18:22] rubenramosDev opened #898 "System.UnauthorizedAccessException: Access to the path"
Hi !

I was doing some test with the tool and it worked amazingly. But when I tried to used it in a real project, I had that Excepction.
I use TFS to version control, I wonder if you have some clue,

Thanks

[2021-10-22 03:47] charakarangana commented on #856
Hi @mjrousos ,

Any update on this issue. have you managed to fix this?

[2021-10-22 04:10] Mlmolefe2 opened #900 "dot.net platform"
Problem encountered on https://dotnet.microsoft.com/platform/upgrade-assistant/tutorial/install-sdk
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2021-10-22 16:14] sunandabalu opened #901 "Resolve MSBuild Instance with no link to VS"
Currently we are using `MSBuildLocator.QueryVisualStudioInstances()` to resolve an MSBuild Instance even when a msbuild_path is provided. This issue is to look into alternate ways to resolve it if there is no match to an installed VS version, or no VS installation.

https://github.com/dotnet/upgrade-assistant/blob/main/src/components/Microsoft.DotNet.UpgradeAssistant.MSBuild/MSBuildRegistrationSta

[2021-10-26 18:02] rubenramosDev opened #903 "Upgrade-assistant ignores Test projects in a Multi-Project solution"
Hi !

Im working with the tool and I found this issue,

For some reason, when I run the tool in a multi-project solution, the tool ignores completely my tests projects... It's like the tool doest not detect those projects, they are not even listed in my solution's list. Projects are fine, when I run the tool inside those project's folders, it work perfectly. But, in order to do a full conversion o

[2021-10-27 17:49] #903 closed, assigned to nobody

[2021-10-27 23:23] lunchin opened #904 "Maximum package analysis and update iterations reached."
Review NuGet dependencies manually [09:28:58 WRN] Upgrade step Clean up NuGet package references failed: Failed: Maximum package analysis and update iterations reached Command (Apply next step (Clean up NuGet package references)) did not succeed
[](url)
[upgrade-assistant.clef.zip](https://github.com/dotnet/upgrade-assistant/files/7429886/upgrade-assistant.clef.zip)

[2021-11-01 17:17] sunandabalu commented on #786
Hey @bleaphar I’m using ZenHub in GitHub, [click this link](https://app.zenhub.com/workspaces/net-upgrade-assistant-60109bcbf6660400171726e3/board) to join my workspace and see other features available in GitHub or [download the ZenHub extension](https://www.zenhub.com/extension) and sign up with your GitHub account.
  _Posted using [ZenHub](https://www.zenhub.com)_

[2021-11-03 20:03] twsouthwick commented on #895
- How big is the project/solution? This may be expected if it's a large one.
- Is it a specific analyzer or all of them?

[2021-11-03 21:58] KSchlobohm opened #909 "Upgrade-assistant should process packages.config to PackageReference migration in 2-phases"
## Summary

1-2 sentences. Say what this is about.

## Motivation and goals

1-2 paragraphs, or a bullet-pointed list. What existing pain points does this solve? What evidence shows it's valuable to solve this?

## In scope

* Create a new step that handles changing to packages.config to PackageReference
* Separate the new package mirator step into 2-phases
   1. Shift the csproj from packages.con

[2021-11-03 23:56] sunandabalu opened #911 "Re-enable Integration tests for .NET 5.0 TFM"

[2021-11-03 23:58] #879 closed

[2021-11-05 15:37] mjrousos opened #912 "Output on packages to be removed/added is ugly"
While using the UA CLI tool, this is the output given at informational level summarizing packages to be removed/added during the NuGet package update upgrade step:

[code]

Information-level log messages are intended primarily to be usefully read by users, but this one just dumps JSON. It should be re-worked to be more readable.

[2021-11-05 16:20] gmenaka opened #913 "install upgrade-assistant dotnet tool issue"
Problem encountered on https://dotnet.microsoft.com/platform/upgrade-assistant/tutorial/install-upgrade-assistant
Operating System: windows

* my lastest SDK : 5.0.402 [C:\Program Files\dotnet\sdk]
* I set MSBuildSDKsPath = C:\Program Files\dotnet\sdk\5.0.402\Sdks
* I have DOTNet5 apps and they are working fine. Only issue comes when I tried to install Upgrade-Assistant
* PC details:
*   OS = Wind

[2021-11-05 21:02] mjrousos opened #914 "RazorSourceUpdater doesn't persist code fix changes to non-cshtml files"
The RazorSourceUpdater step applies code fixes to Razor files however if a code fix changes a file *other* than a Razor file (such as adding a new file to the project), those files aren't being saved to disk.

[2021-11-05 21:49] mjrousos opened #915 "RazorSourceUpdater not correctly updating some embedded C# patterns"
Code in `@()` blocks is not reliably updated by the RazorSourceUpdater because it is incorrectly including some generated C# when comparing the updated code with what's embedded in the cshtml to make replacements.

[2021-11-08 14:43] georgikoemdzhiev opened #918 "[Failed] Apply fix for UA0005: Do not use HttpContext.Current"
- [x ] Include the log file `upgrade-assistant.clef` that is produced in the working directory
please see `upgrade-assistant.log` file attached bellow

### Describe the bug
When running the `upgrade` command there was an `Unexpected error applying step` being thrown

### To Reproduce

### Exceptions (if any)
[code]

### Further technical details
- Windows version and bitness info (32-bit or 64-bit

[2021-11-08 16:07] mjrousos commented on #856
@charakarangana - thanks for sharing the cshtml files. I ran Upgrade Assistant over them and wasn't able to reproduce this issue but I did find a couple different failures while upgrading those views. These are fixed in #919. I'm hoping that since I couldn't reproduce the initially reported issue that it's already been fixed and these additional fixes should unblock your scenario.

Once #919 is me

[2021-11-08 18:02] #912 closed

[2021-11-08 22:15] #856 closed

[2021-11-08 22:15] #914 closed

[2021-11-08 22:15] #915 closed

[2021-11-09 10:29] georgikoemdzhiev commented on #904
Getting the same issue on the latest version of the assistant - `0.3.252501+d008dcd65150d4d24cdeb8378cc517cc5b121b2f`

[2021-11-09 17:25] belmonmi opened #921 "Install and run upgrade-assistant step failed"
Problem encountered on https://dotnet.microsoft.com/platform/upgrade-assistant/tutorial/install-upgrade-assistant
Operating System: windows

I was following instructions on your web site and on step 2 I encounter this issue:
"The application 'tool' does not exist."

Thank you,
Michael.

![Tool_Error](https://user-images.githubusercontent.com/67832959/140973831-32d33872-d465-4050-9e8a-7e84b28d0918.

[2021-11-09 19:31] belmonmi commented on #921
Problem was with Environment Variables Path.  C:\Program Files(x86)\dotnet\ was before C:\Program Files\dotnet.  After moving x86 down the list tool installed correctly.
Thank you.

[2021-11-09 19:31] #921 closed

[2021-11-10 06:56] charakarangana commented on #856
Hi @mjrousos ,

I can confirm now issue is fixed with the latest version.

thanks for your support.

Charaka

[2021-11-10 09:38] manuelelucchi opened #923 "Upgrading a Xamarin Android project is nowhere similar to the new NET6 Android app"
- [ ] Include the log file `upgrade-assistant.clef` that is produced in the working directory

### Describe the bug
When upgrading a Xamarin Android project (even the default template) the csproj will be bloated of unneeded things and there will be errors with the nuget packages (also, it will upgrade it to net6, not net6-android). If you compare it with the NET6 Android app, you'll notice the tem

[2021-11-10 10:42] Lohnegrim opened #924 "(Not) Changing the Logging Settings change the Loglevel to Max?"
### Describe the bug
When I open the Configure logging - option and dont change anything (pressing [Enter] mutiple times to leave the menu), then Logginglevel seems to be changed from Default to Max

### To Reproduce
1.) Start a Upgrade with a project / solution
2.) at anny step, chose the Command "5. Configure logging"
3.) Press [Enter] multiple times to leve the menu
-> I would expect that no co

[2021-11-10 15:36] rhires opened #926 "System.Web namespace vs .net core"
## Summary

It's not a bug as much as a deep need. The System.Web namespace from ASP.NET is gone, and the individual replacements for the various things under it aren't documented for what replaces them in .net core. We need a document or something to explain what the replacement namespaces are.
## Motivation and goals

1-2 paragraphs, or a bullet-pointed list. What existing pain points does this

[2021-11-11 00:02] sunandabalu commented on #923
@Sweekriti91 Is this something you could help with?

[2021-11-11 00:04] sunandabalu commented on #926
@mjrousos should have some helpful pointers here.

[2021-11-11 00:05] sunandabalu commented on #913
@twsouthwick Could you provide some guidance here?

[2021-11-11 12:40] mattiaskagstrom opened #928 "Specify package source as cli argument"
## Summary

Just as when installing the tool where you can supply a argument (--add-source) with a nuget feed, this is needed when running the upgrade aswell.

## Motivation and goals

The analysis currently fails because it tries to fetch all packages from nuget.org, this feed is unavalible on our intranet.

## Examples

dotnet has:
dotnet tool update -g upgrade-assistant --add-source proget/feed

[2021-11-11 14:56] rhires opened #929 "How to reverse an incomplete upgrade"
### Describe the bug
I skipped a step by accident and then could not go back and try again, nor could I start over.

### Further technical details
- Windows version and bitness info (64-bit)
- Include the output of dotnet sdks
`3.0.100 [C:\Program Files\dotnet\sdk]
3.1.415 [C:\Program Files\dotnet\sdk]
5.0.100 [C:\Program Files\dotnet\sdk]
5.0.403 [C:\Program Files\dotnet\sdk]
6.0.100 [C:\Program

[2021-11-11 16:09] BizD3V opened #930 "Installing upgrade assistant only returns NU1101 error"
Problem encountered on https://dotnet.microsoft.com/platform/upgrade-assistant/tutorial/install-upgrade-assistant
Operating System: windows

Just installed VS22 (production v17, not the preview) and running **dotnet** displays the expected help. But when I run **dotnet tool install -g upgrade-assistant**, I get **NU1101: Unable to find package upgrade-assistant**.

I've even tried explicitly downl

[2021-11-11 16:47] dampee opened #931 "Invalid cast exception"
- [x] Include the log file `upgrade-assistant.clef` that is produced in the working directory

[upgrade-assistant.zip](https://github.com/dotnet/upgrade-assistant/files/7521928/upgrade-assistant.zip)

### Describe the bug

System.InvalidCastException on step "Apply code fixes to Razor documents"

### To Reproduce
unable to sort out where this error is coming from

### Exceptions (if any)

[code]

[2021-11-11 17:57] mjrousos commented on #926
Hi @rhires, I agree this is a space where more guidance is needed. I think ideally Upgrade Assistant would automatically replace some of those System.Web APIs (the ones with straightforward replacements) and alert the user (via warnings during execution and in a report afterwards) of other APIs that will need replaced manually.

Epic #55 is tracking work items related to implementing those sorts o

[2021-11-11 18:01] mjrousos commented on #931
Thanks, @dampee, for the report. I've seen this issue pop up from time to time but haven't been able to reproduce it yet. It looks like a bug in how Upgrade Assistant is trying to fix-up C# in a cshtml file.

Is it possible for you to share the cshtml files from this project with me so that I can try to reproduce the issue locally? You can email them to me at mikerou at microsoft dot com.

[2021-11-11 18:33] linwood-rancho opened #932 "Only updated one project"
Problem encountered on https://dotnet.microsoft.com/platform/upgrade-assistant/tutorial/install-upgrade-assistant
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

I just tried to up a Solution with two projects that were built on .NET 5 to .NET 6.  One of t

[2021-11-11 20:21] twsouthwick commented on #932
Can you provide some details as to what the output looks like and what the project types are?

[2021-11-11 20:24] twsouthwick commented on #929
First off, you can start over by:

- Using the backup that is produced
- If you're using a version control system, you can revert that way

However, we have tried to design Upgrade Assistant to pick up where you left off. What step did you skip? What state is your project in?

[2021-11-11 20:25] twsouthwick commented on #928
We honor what is provided in the NuGet.config. Is there a reason that is not sufficient?

[2021-11-11 20:26] sunandabalu commented on #930
@BizD3V Are you able to install any other nuget packages?

[2021-11-11 20:27] twsouthwick commented on #923
This is not supported yet. The conversion from Xamarin Android -> Maui will be supported by the time .NET Maui is released.

How are you performing the conversion? Are you using the .NET Maui preview extension?

[2021-11-11 21:27] linwood-rancho commented on #932
I am sorry I am not sure what you are asking for?

One project is a console app that uses the other project in the solution.  The second project is a class library that makes some http client calls.  The console app portion did get upgraded.  The class library did not get updated.  Here is what I see on the cmd window.  As you can see after I picked the entry point for the solution, it just wants

[2021-11-11 21:46] manuelelucchi commented on #923
Not really. I just created a template and called the command I just installed. But why isn't it supported?
Xamarin Forms ->.NET Maui
Xamarin Android ->.NET Android
That would be the preferred way. Also, it shuold be easier for you, shouldn't it?

[2021-11-11 23:41] rhires commented on #929
I think I skipped the 2nd or third step, not realizing that the whole process had to be done before the single project was complete, so I chose to end the upgrade entirely.

[2021-11-11 23:41] rhires commented on #929
Also, how do I use the backup that is produced? Are there instructions for that?

[2021-11-12 05:51] dampee commented on #931
Views are send to Mike

[2021-11-12 08:31] mattiaskagstrom commented on #928
our internal feed is specified both in %appdata%\NuGet\NuGet.Config and in C:\Program Files (x86)\NuGet\Config\NuGet.Config. Upgrade-assistant still fetches from nuget.org.

[2021-11-12 08:43] nikossaperas commented on #923
@manuelelucchi

After installing Visual Studio 2022
I am also in the process of upgrading
Xamarin Android -> .Net Android and also
Xamarin iOS -> .Net iOS

Quick Question:
When creating a brand new Xamarin Android app from the template, on the csproj where can you see the "net6-android" actually beeing used?

[2021-11-12 09:11] manuelelucchi commented on #923
@nikossaperas when you create a xamarin android app from template you don't have net6, it's still modo with franken-proj. You have to use the Net6 android preview templates (they come with Maui iirc)

[2021-11-12 11:42] mfacadley opened #933 "WPF datagrid raises flag that Win Forms datagrid is deprecated"
Running the upgrade assistant on a WPF project (4.8) which has no references to Windows Forms, but which does use Systems.Windows.Controls.Datagrid flags these references incorrectly as deprecated Windows Forms controls.

PS C:\Users\acadley\source\repos> dotnet --list-sdks
5.0.403 [C:\Program Files\dotnet\sdk]
6.0.100 [C:\Program Files\dotnet\sdk]

[upgrade-assistant.zip](https://github.com/dotne

[2021-11-12 17:13] Sweekriti91 commented on #923
Hi @nikossaperas and @manuelelucchi,

.NET MAUI is the next evolution of Xamarin. You can find more detailed explanation of the difference and roadmap [here](https://docs.microsoft.com/en-us/dotnet/maui/what-is-maui). The updated timeline for the release of .NET MAUI RC is explained [here](https://devblogs.microsoft.com/dotnet/update-on-dotnet-maui/).

At the moment, upgrade-assistant has a previe

[2021-11-12 19:05] nikossaperas commented on #923
@Sweekriti91  Thank you very much for all the info and clarifications.
I misinterpreted a video I recently watched (this one actually https://www.youtube.com/watch?v=X2zhvJXEXjE) and thought the upgrade assistant is now ready to use.

Thanks for all the effort!

[2021-11-12 23:07] mjrousos commented on #904
This looks like a bug in our Package Updater step. Are you able to share the csproj and packages.config file so I can try to reproduce it?

[2021-11-13 02:48] inabeel opened #934 "I have dotnet upgrade assistant installed for .NET 5. How can I update it to .NET 6?"
Problem encountered on https://dotnet.microsoft.com/platform/upgrade-assistant/tutorial/install-upgrade-assistant
Operating System: windows

I have dotnet upgrade assistant installed for .NET 5. How can I update it to .NET 6

[2021-11-14 13:28] attiqeurrehman opened #935 "Type 'System.Windows.Threading.Dispatcher' is not defined after upgrade"
- [x ] Include the log file `upgrade-assistant.clef` that is produced in the working directory
- [x ] Include the analysis report `AnalysisReport.sarif ` that is produced

### Describe the bug

During analyze phase there were no indication of of this error but after upgrade the error:

Enabling the property `UseWPF `to `true `seems to fix this issue:

`<UseWPF>true</UseWPF>`

But it's not a WPF an

[2021-11-15 04:49] vijaya-lakshmi-venkatraman commented on #672
Hello,
I would like to give it a try if this one's available.

[2021-11-15 06:53] manuelelucchi commented on #923
@Sweekriti91 so the support for migrating non forms project is coming, cool. It wasn't really clear if it was supported or not. Thank you

[2021-11-15 09:31] JoakimHLund commented on #904
This happens both in the "Clean up NuGet package references" and in the "Update NuGet package references" step.

I am unable to share csproj and package files for privacy reasons, but the following is added repeatedly to the csproj file:
[code]

[2021-11-15 09:46] Lohnegrim opened #936 "Prebuild + Postbuild Events are not correctly converted into SDK-Format"
- [ ] Include the log file `upgrade-assistant.clef` that is produced in the working directory

### Describe the bug
In the Old Project format you could define pre/post buildevents using the names, like this:
<PreBuildEvent>echo "TargetPath is $(TargetPath)"</PreBuildEvent>
in the SDK Format it must be in a Different Format, like this:
  <Target Name="PreBuild" BeforeTargets="PreBuildEvent">
    <E

[2021-11-15 09:53] Lohnegrim opened #937 "Converted VB.Net Project remove reference to System.Data, but als Imports System.Data"
- [ ] Include the log file `upgrade-assistant.clef` that is produced in the working directory

### Describe the bug
When a VB.Net Project is converted, the Reference to System.Data is removed, but the Project-Level import is als removed.
Imports in VB.Net equals Usings, so this leads to many build errors.

### To Reproduce
Create a new VB.Net Winforms Project and convert it
After converting the De

[2021-11-15 19:56] BizD3V commented on #930
Thanks Sunanda! That simple question pointed me in the right direction. Somehow (like right out of the box) my system had no online package sources. Once I added it, everything is working. But that does leave me trying to find the "definitive" location for Nuget.org packages. Do you happen to know if it's still https://api.nuget.org/v3/index.json?

[2021-11-15 20:04] sunandabalu commented on #930
Yes that would be the right package source for nuget.org
`<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />`

[2021-11-15 20:04] #930 closed

[2021-11-15 20:15] twsouthwick commented on #928
Oh interesting. We should be checking that so we should check on that

[2021-11-15 21:55] BizD3V commented on #930
TY Appreciate the quick resolution.

[2021-11-16 10:15] klacol opened #940 "Log the output in a format, that can be read by the sarif-vscode-extension"
# Summary
Hi, I am in the process of upgrading a project to .NET 6.0. I use the dotnet upgrade-assistant .
This assistant produces logs in the sarif-format. But they cannot be opened with this [VSC-extension](https://github.com/microsoft/sarif-vscode-extension).

Is there a plan to support any sarif viewer?

## Motivation and goals

I have to read the outcome of the analysis and talk with other de

[2021-11-16 18:05] sunandabalu commented on #940
This is addressed in the PR https://github.com/dotnet/upgrade-assistant/pull/927 , we were using an older schema that did not work with VS Code extension. If you pick the version - 0.3.256001 - from the AzDO public feed - `dotnet tool update -g upgrade-assistant --add-source https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json` then you should get an updated SARIF s

[2021-11-16 18:08] sunandabalu commented on #940
You can get a Web view using https://microsoft.github.io/sarif-web-component/, we are making changes to the SARIF log to increase readability in the Web view soon.

[2021-11-16 18:08] #940 closed

[2021-11-16 18:39] KSchlobohm opened #941 "Project-to-project references should not be transitive by default"
## Summary

When upgrading a csproj the default behavior for project-to-project references should be preserved by adding PrivateAssets attribute to the project reference element.

## Motivation and goals

When upgrading a solution to SDK style projects with PackageReference enabled the default behavior of the solution changes. By default a project-to-project reference will allow all of its depende

[2021-11-16 18:42] sunandabalu commented on #849
- only load Roslyn msbuild only for project edits
- decouple roslyn project loading could give some significant perf gains
- mark dirty / lazy re-loading

[2021-11-16 18:46] sunandabalu commented on #897
We can look into adding analyzers to point to the right documentations in these scenarios.

[2021-11-16 18:48] sunandabalu commented on #913
@gmenaka Are you seeing an issue installing any other nuget packages?

[2021-11-16 18:54] sunandabalu commented on #924
Pressing Enter selects the 1st option in the list, possibly why it changed the logging level for you.

[2021-11-16 18:56] sunandabalu commented on #933
I'll take a look at our code to determine project category.

[2021-11-16 19:05] sunandabalu commented on #934
@inabeel Are you trying to upgrade your projects to .NET 6?

[2021-11-16 19:15] sunandabalu commented on #936
Upgrade-Assistant uses try-convert internally so we are hitting the same issue.

[2021-11-16 19:15] sunandabalu commented on #936
Closing the issue here in UA, it can be tracked with the issue in try-convert

[2021-11-16 19:15] #936 closed

[2021-11-16 19:19] sunandabalu commented on #937
/cc @twsouthwick

[2021-11-16 19:19] twsouthwick commented on #935
We should be adding the `UseWPF` because that API is in WindowsBase, which is available through WPF. We should verify the project component selector is detecting that.

This API is a WPF related API so you will need the `UseWPF` tag. If you don't want to use that, you'll need to find a different dispatcher that works for your scenario.

[2021-11-16 19:26] inabeel commented on #934
Yes., I want to convert my solution to .NET 6. For this purpose I want to run upgrade-assistant.
Problem is I have already installed upgrade-assistant, which was for .NET 5. And it still uses same .NET 5, and i am unable to update it to .NET 6

[2021-11-16 19:40] sunandabalu commented on #934
If you just get the latest [upgrade-assistant package](https://www.nuget.org/packages/upgrade-assistant/0.3.255803) from nuget feed will get you the version that works with .NET 6

[2021-11-16 20:19] klacol commented on #940
Thank you!

[2021-11-16 20:57] aidanblack commented on #851
Removing the bin/obj folders worked for me. However, I also deleted the UITests.csproj folder completely, since this was a .NET Framework project. I don't know if that made a difference. Should have only tested one thing at a time!

[2021-11-16 21:11] sunandabalu commented on #851
@Sweekriti91 There seems to be nothing more needed from upgrade-assistant perspective, is it safe to close this issue?

[2021-11-16 21:18] aidanblack commented on #851
I was thinking if it detects the obj/bin folders, maybe it could delete them?

[2021-11-16 22:10] Sweekriti91 commented on #851
@aidanblack  thanks for that feedback and I've added it as a work item to be implemented eventually.

@sunandabalu  yup, this is resolved, I'll close it out.

[2021-11-16 22:10] #851 closed

[2021-11-17 06:01] attiqeurrehman commented on #935
thanks for clarification.

[2021-11-17 06:01] #935 closed

[2021-11-17 09:04] Lohnegrim commented on #924
Hi @sunandabalu,
In this Case it would be nice,
if the current level ist shown,
and a option is given to not change the level, (like this skip that is ussaly on 2.),
and maybe make it more obvious that the [Enter] selects the first option.

[2021-11-17 12:59] sunilforever commented on #897
Would you please guide me... how to add "analyzers"

[2021-11-17 18:52] twsouthwick opened #943 "Come up with a best practices doc for creating analyzers"
_Originally posted by @twsouthwick in https://github.com/dotnet/upgrade-assistant/pull/939#discussion_r751539216_

Things like names/categories/rules/etc should have a well-defined meaning and constraints.

[2021-11-17 18:53] twsouthwick commented on #943
From @eddynaka

https://github.com/microsoft/sarif-tutorials/blob/main/docs/Authoring-rule-metadata-and-result-messages.md#human-readable-identifier

[2021-11-17 18:54] twsouthwick commented on #943
We may want to just link to these. Are there any analyzers for this to ensure stability/etc (kind of like the roslyn diagnostic analyzers?)

[2021-11-17 19:22] sunandabalu commented on #897
By analyzers we meant Roslyn Analyzers that can identify usage of these APIs and create diagnostics with next steps. Here are some useful docs on writing Roslyn Analyzers - https://github.com/dotnet/upgrade-assistant/blob/main/docs/roslyn_best_practices.md
https://docs.microsoft.com/en-us/dotnet/csharp/roslyn-sdk/
https://docs.microsoft.com/en-us/dotnet/csharp/roslyn-sdk/tutorials/how-to-write-csh

[2021-11-18 10:52] Lohnegrim opened #945 "Error in Steps Convert Application Settings/Convert Connection Strings"
### Describe the bug
I was trying to use this tool, to convert my projects to SDK-Style, and only later to .Net Core.
Since there are more than 60 projects, I stoped and restarted later.
When restarting, I got this Exception in the Steps a+b from '9. Upgrade app config files':
System.FormatException: A duplicate key 'ConnectionStrings:InvoiceImport' was found.
The reasons seems, that there are two

[2021-11-18 15:06] bswift-kj opened #946 "KeyNotFoundException System.ComponentModel.Annotation"
### Describe the bug
We are trying to upgrade some class libraries, currently built in .NET Framework 4.7.2, and will occasionally get a KeyNotFound Exception that references System.ComponentModel.Annotations. However this reference is not located in this project. We are not sure why this is happening. We have spoken with Microsoft and they recommended that I ask here. I am happy to provide the .c

[2021-11-18 15:30] stokara opened #947 "cant install upgrade-assistant"
Problem encountered on https://dotnet.microsoft.com/platform/upgrade-assistant/tutorial/install-upgrade-assistant
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

C:\Users\avistokar\Documents\OA>dotnet tool install -g upgrade-assistant
C:\Program Files\dotn

[2021-11-18 19:27] adegeo opened #949 "Add ability to choose which Visual Studio installation is used"
## Summary

I have multiple editions of Visual Studio installed, including previews. I want the ability to select which edition is being used by the upgrade tool.

## Motivation and goals

It's quite possible that a preview release of Visual Studio will break something, if so, the upgrade tool would be useless until that VS edition is either uninstalled or updated with a fix.

[2021-11-19 09:10] sankhyac opened #951 "Got error while installing .NET upgrae assistant"
Problem encountered on https://dotnet.microsoft.com/platform/upgrade-assistant/tutorial/install-upgrade-assistant
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

Got the following error while running the below command:

C:\Users\sachak>dotnet tool install

[2021-11-19 20:06] sunandabalu opened #952 "Support for reading package versions from Packages.Props"
While determining what package version is currently used, UA only reads from the `csproj` this issue is to track the work needed for UA to read from packages.props as well if one is being used.

The `packages.props` is loaded automatically so getting the package versions from the evaluated project would be the easier route.

[2021-11-21 13:40] CodeWithPraveen commented on #932
@linwood-rancho I'm facing the exact same issue you reported. Did you manage to make it work?

[2021-11-21 16:25] tomzorz opened #953 "Cleanup / upgrade NuGet packages steps fail when package version comes from Directory.Build.props"
Key part of the clef file:
[code]

### Describe the bug

Some of our NuGet packages are defined in our `Directory.Build.props` file like so

[code]

When a .csproj file references a NuGet package like this:

[code]

the upgrade assistant 2nd / 3rd steps fail. If I remove the variable and just type the number directly the tool successfully upgrades the project.

### To Reproduce

See above.

### Ex

[2021-11-22 11:02] mfacadley commented on #933
[MFSecuredLoans.zip](https://github.com/dotnet/upgrade-assistant/files/7580392/MFSecuredLoans.zip)

This was the project file I was trying with

[2021-11-22 13:33] matdv commented on #932
I had the same issue. Turns out, that upgrades from .NET Core are currently not supported.
See https://docs.microsoft.com/en-us/dotnet/core/porting/upgrade-assistant-overview?WT.mc_id=dotnet-35129-website

[2021-11-22 13:39] dprice opened #954 "Cannot run Upgrade Advisor after installing .NET6/VS2022"
Problem encountered on https://dotnet.microsoft.com/platform/upgrade-assistant/tutorial/install-upgrade-assistant
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

On the page https://dotnet.microsoft.com/platform/upgrade-assistant/tutorial/install-upgrade-a

[2021-11-22 13:43] linwood-rancho commented on #932
@CodeWithPraveen
I had inherited this project from a consultant and had not really dug into it.  As my initial comment indicated the .exe was converted just fine.  It turned out the second project in the solution was nothing more than a collection of DTO classes to work with some JSON responses.  There was no logic in any of the classes.  So I tried to just flip the framework from .NET 5 to .NET 6

[2021-11-22 14:18] CodeWithPraveen commented on #932
@linwood-rancho
I did exactly the same. Manually changed the class library from .net5.0 to .net6.0, and it was fine. I was curious to know why it didn't upgrade that project although the other main project got converted.

As @matdv highlighted above, it appears this tool is more towards upgrading .NET Framework projects. Hence, it isn't fully supporting previous version of .NET Core to .NET 6.

Th

[2021-11-22 14:20] CodeWithPraveen commented on #932
That explain the first part. Thanks for sharing that link. I missed the part that it supports only .NET Framework.

But, I'm still curious as to how the main Web API project got upgraded properly from .NET 5 to .NET 6 including the packages, but the referenced .NET 5 class library is getting skipped.

[2021-11-22 16:00] Tohnmeister commented on #252
Any update on this? We're looking to migrate a code-base of several 100 kloc of C# code from old-style .csproj files and .NET Framework 4.8 to new-style .csproj files and .NET 5. But we're heavily using central package management.

[2021-11-23 12:16] VanjaPopovic commented on #904
Having the same issue, it keeps adding
<PackageReference Include="Microsoft.DotNet.UpgradeAssistant.Extensions.Default.Analyzers" Version="0.3.252501">
    <PrivateAssets>all</PrivateAssets>
</PackageReference>
and then fails.

[2021-11-23 20:23] mjrousos commented on #931
Thanks for the views, @dampee. I've managed to diagnose the problem. It's because of a bug in Upgrade Assistant's `TypeUpgradeAnalyzer` that attempts to find ASP.NET types that need to be replaced with ASP.NET Core equivalents. The bug is that the analyzer doesn't properly handle anonymous types and ends up thinking anonymous type members with names equal to types that should be replaced also need

[2021-11-25 01:48] inabeel commented on #934
I tried that command, but it just didn't work. Best solution for me was to uninstall upgrade assistant via command and then install a new copy, which installed latest one.

[2021-11-25 01:48] #934 closed

[2021-11-28 04:08] BobFrankston opened #956 "NotifyIcon is not analyzed"
- [ ] Include the log file `upgrade-assistant.clef` that is produced in the working directory

Since
[upgrade-assistant.clef.txt](https://github.com/dotnet/upgrade-assistant/files/7612779/upgrade-assistant.clef.txt)

### Describe the bug
A clear and concise description of what the bug is.

NotifyIcon depends on ContextMenu which is deprecated but no replacement is listed.

It's also unclear if dep

[2021-11-29 10:29] obrocki opened #957 "Could not find extension LooseAssembly / LooseAssembly.NuGet"
Hello all,
I'm trying to install the [Loose Binary Extensions](https://github.com/dotnet/upgrade-assistant/blob/main/docs/design/Loose_binary_identification.md#:~:text=Loose%20binary%20identification%20with%20Upgrade%20Assistant%20It%20is,known%20provenance.%20These%20files%20are%20considered%20%22loose%20binaries%22.)
 however I'm getting following error:

[code]
Any ideas?
Thanks!

[2021-11-30 03:40] OliaG opened #958 "Upgrading the tool fails if I have multiple NuGet package sources"
I have multiple NuGet Package Sources on my machine and when I was running

"dotnet tool update -g upgrade-assistant"

seems that the tool only looked at one of my sources (Telerik) even though all of them were turned on, and gave me an error that it couldn't find Upgrade Assistant info
![image](https://user-images.githubusercontent.com/31997351/143981676-51e5ee18-a0a7-46dd-b74b-f47958f59d60.png)

[2021-11-30 09:16] OliaG opened #959 "Need to update the help text to have ".NET 6" instead of ".NET 5""
![image](https://user-images.githubusercontent.com/31997351/144019167-a3cd4389-98cd-4d38-b7c0-5310d0e70630.png)

[2021-11-30 10:55] OliaG opened #960 "After upgrading an app, large unneeded NuGet package references are added to WinForms projects"
After upgrading basic hello world WinForms app created for .NET Framework 4.8, Upgrade Assistant adds references to NuGet packages that are not needed:

![image](https://user-images.githubusercontent.com/31997351/144033693-2317f9af-0dbf-424d-a225-8c8f549af8dd.png)

Microsoft.Windows.Compatibility is extremely large NuGet containing over 20K APIs, we should not be adding it. Plus almost all WinForm

[2021-11-30 21:43] sunandabalu commented on #957
@twsouthwick can you take a look?

[2021-11-30 21:45] sunandabalu commented on #956
Thanks @BobFrankston for filing the issue, I'll take a look to see if we can alert on NotifyIcon

[2021-11-30 21:46] sunandabalu commented on #954
Maybe you could try updating the version of upgrade-assistant installed using `dotnet tool update -g upgrade-assistant`.

[2021-11-30 21:48] twsouthwick commented on #957
The name needs an `Extensions` in the middle :) See attached PR to fix doc

[2021-11-30 21:53] sunandabalu commented on #951
@sankhyac Could you try with `ignore-failed-sources`? It should resolve the install problems you are seeing.

[2021-11-30 21:55] sunandabalu commented on #949
@adegeo you can try giving the path to the VS installation by using `--vs-path`.

[2021-11-30 21:55] #949 closed

[2021-11-30 21:55] twsouthwick commented on #958
This is a problem with the way the CLI handles stuff. I think this issue covers a request to ignore that by default: https://github.com/dotnet/sdk/issues/18402

[2021-11-30 21:55] #958 closed

[2021-11-30 21:56] sunandabalu commented on #947
@stokara Please try with `ignore-failed-sources`, this error should go away.

[2021-11-30 21:57] sunandabalu commented on #947
https://github.com/dotnet/sdk/issues/18402 to track executing by default with `ignore-failed-sources`

[2021-11-30 21:57] #947 closed

[2021-11-30 21:57] sunandabalu commented on #951
dotnet/sdk#18402 to track executing by default with ignore-failed-sources

[2021-11-30 21:57] #951 closed

[2021-11-30 21:59] sunandabalu commented on #946
@bswift-kj Could you please provide the .csproj file you are using and also the .clef file for logs? If you are unable to upload here, feel free to email to dotnetupgradeassist@microsoft.com

[2021-11-30 22:01] sunandabalu commented on #945
It will help if we can get try-convert to run across solution to avoid the skipping of the rest of the steps, @twsouthwick is taking a look at this scenario

[2021-11-30 23:25] #957 closed

[2021-12-01 01:04] twsouthwick commented on #960
When should the windows compat pack be added? Or is it now included in .NET 6 if you have a `-windows` TFM?

[2021-12-01 01:05] twsouthwick commented on #960
There's a new Roslyn feature to detect unused references. I wonder if we could use that to trim down if we aren't using any types in there

[2021-12-01 01:07] twsouthwick commented on #929
You should be able to just copy it to the directory. We generally recommend using a version control system which simplifies it quite a bit

Interesting. Do you have an example project?

[2021-12-01 08:08] obrocki commented on #957
Well that was quick and easy! Thanks @twsouthwick! 😄

[2021-12-01 09:46] TheMagnificent11 opened #963 "Cannot install .NET Upgrade Assistant"
Problem encountered on https://dotnet.microsoft.com/platform/upgrade-assistant/tutorial/install-upgrade-assistant
Operating System: windows

Here's the output from my command prompt.

[code]

[2021-12-01 20:56] bswift-kj commented on #946
I am unable to upload or email that emails address (RESOLVER.RST.SenderNotAuthenticatedForGroup; authentication required; Delivery restriction check failed because the sender was not authenticated when sending to this group).

[2021-12-01 22:14] bgarlick opened #964 "Error during package analysis"
### Describe the bug
When running the analysis over this project we get this error output:

[17:00:53 DBG] Found target frameworks for package Microsoft.CodeAnalysis.VisualBasic.Workspaces.2.10.0: [".NETStandard,Version=v1.3"]
[17:00:53 DBG] Package Microsoft.CodeAnalysis.VisualBasic.Workspaces, Version=2.10.0 will work on ["netstandard2.0"]
[17:00:53 DBG] NuGet package , Version=0.0.0 not found i

[2021-12-01 22:16] mjrousos commented on #964
Thanks, @bgarlick for the report. Looks like a bug in UA's package analysis step. I suspect that this reference is causing problems:

[code]

Most likely the tool just needs fixed to correctly handle the case of PackageReference Update.

[2021-12-02 00:56] #931 closed

[2021-12-02 13:27] rhires commented on #929
I've abandoned this for now. My project uses webforms and SOAP, and is not going to be using either of those going forward. Thanks.

[2021-12-02 13:27] #929 closed

[2021-12-03 12:14] venkat10493 opened #967 "migrating dotnet framework to dotnet core"
[16:57:52 ERR] NuGet target in project.assets.json is still unavailable after restore. Please verify that the project has been restored.
[16:57:52 FTL] Package analysis failed (analyzer Transitive reference analyzer: Restore has not restored the expected TFMs. Please
[16:57:55 ERR] NuGet target in project.assets.json is still unavailable after restore. Please verify that the project has been resto

[2021-12-03 14:22] SmokyLV opened #968 "Error loading Microsoft.DotNet.UpgradeAssistant.Extensions.Default.Analyzers, ExtensionManifest.json missing"
Problem encountered on https://dotnet.microsoft.com/platform/upgrade-assistant/tutorial/install-upgrade-assistant
Operating System: Windows 10 build 19042
Installed NET SDK :
5.0.403 [C:\Program Files\dotnet\sdk]
6.0.100 [C:\Program Files\dotnet\sdk]

Running Upgrade assistant tools against simple WinForms project I see suggestion:
 _Reference to .NET Upgrade Assistant analyzer package (Microsoft.

[2021-12-04 01:17] twsouthwick commented on #968
Those are not an extension for Upgrade Assistant but rather Roslyn analyzers. Upgrade Assistant adds those to your project and then they're able to work with it through the process.

I believe the messaging here to could be improved to not show the stack trace.

[2021-12-06 03:52] Loophole62ndFF commented on #967
Also getting the same error as @venkat10493, when trying to upgrade a DOTNET Framework 4.5.1 solution to DOTNET 5.0.  The .upgrade-assistant.clef file contains a number of "error NETSDK1045:  The current .NET SDK does not support targeting .NET 6.0.  Either target .NET 5.0 or lower, or use a version of the .NET SDK that supports .NET 6.0." errors; which is annoying because I *want* to upgrade to D

[2021-12-06 04:11] Loophole62ndFF opened #969 "Cannot target DOTNET 5.0 for upgrade"
There appears to be no way to tell the Upgrade Assistant to target DOTNET 5.0 instead of 6.0.  Nor do there seem to be any DOTNET-Target-Specific releases of Upgrade Assistant to roll back to.

[2021-12-07 07:09] shreeakshaya11 opened #971 "'upgrade-assistant' is not recognized as an internal or external command, operable program or batch file."
When I try to run the below command I am facing the below issue. Can you let me know what is the correct command I need to provide in order to get the analysis report.

**upgrade-assistant analyze C:\Users\Akshayashree.p\Documents\Workspace\ui\DLZADM_UI\DLZADM_UI.csproj
'upgrade-assistant' is not recognized as an internal or external command,
operable program or batch file.Problem encountered on h

[2021-12-07 07:19] marijorg commented on #904
Any updates on this one?

During upgrade of our solution using upgrade assistant the third step "Clean up NuGet package references" gets stuck in a loop, adding a reference to Microsoft.DotNet.UpgradeAssistant.Extensions.Default.Analyzers over and over again.

This reference is then found 3 times (= MaxAnalysisIterations) in the project file.
The likely reason for the loop is that when Microsoft.D

[2021-12-08 05:54] isaacrlevin commented on #635
Is there an update here?

cc @twsouthwick @cathysull

[2021-12-08 17:47] lunchin commented on #969
This worked me in command line before running tool
`set DefaultTargetFrameworks__LTS=net5.0`

then using running with this option
`--target-tfm-support LTS`

[2021-12-08 20:34] dmccolloughOneGas opened #972 "Question - on using Upgrade Assistant on Xamarin Forms Application"
I have a Xamarin forms application I would like to try upgrading to .NET Maui.

I have the upgrade assistant installed.

I've tried to run it on the iOS project by using the following command:
upgrade-assistant upgrade <path to iOS project file>

It comes back with the following:
[14:30:07 INF] Loaded 5 extensions
[14:30:07 INF] Using MSBuild from C:\Program Files\dotnet\sdk\6.0.100\
[14:30:07 INF

[2021-12-08 20:35] sunandabalu commented on #972
@Sweekriti91 Could you help here?

[2021-12-08 22:31] Loophole62ndFF commented on #969
Thank you for that suggestion - I will try it and see if it works for me as well.  How on earth did you discover that, though?

[2021-12-08 22:35] lunchin commented on #969
Open source is the best :)

https://github.com/dotnet/upgrade-assistant/blob/main/src/cli/Microsoft.DotNet.UpgradeAssistant.Cli/appsettings.json

[2021-12-08 22:39] Sweekriti91 commented on #972
Hi! Thanks for testing the tool and reporting the issue. Could you check the following?

- .NET MAUI workloads installed? You can follow the instructions here
- Can you confirm that you are able to build and run a .NET MAUI Android/iOS project?
- In the Xamarin project folder, can you delete all bin/obj folders before running upgrade-assistant? delete them from all folders.

If your environment is

[2021-12-08 23:08] Loophole62ndFF opened #973 "Usage Documentation needs to better describe argument required for -e command-line option."
I was struggling to get upgrade-assistant to work correctly on my project, until I figured out that the argument to the -e command-line option is supposed to be "the full path to the .csproj file that is to be the entry point for the analysis".

- I think the usage documentation should be enhanced to make that clearer; e.g. :
  "`-e, --entry-point <path-to-entry-point-csproj>`"

- The same could b

[2021-12-08 23:11] #973 closed

[2021-12-08 23:23] Loophole62ndFF commented on #969
Hmm.  Didn't work for me - at least, not as expected.  I used the command as shown above, and tested it on one csproj file (comparing it to a csproj from a newer application that has been built against DOTNET 5.0).

The upgrade assistant created a csproj with: `<TargetFramework>netstandard2.0</TargetFramework>` rather than the expected `<TargetFramework>net5.0</TargetFramework>`?

[2021-12-08 23:52] lunchin commented on #969
I think there is logic in the tool that will target netstandard2.0 if it can if it is a library project.

[source
](https://github.com/dotnet/upgrade-assistant/blob/main/src/components/Microsoft.DotNet.UpgradeAssistant/TargetFramework/TargetFrameworkSelector.cs)

[2021-12-09 13:44] dmccolloughOneGas commented on #972
yes, I have the .NET Maui work loads installed.
Yes, I can build .NET Maui Android / iOS Project

I deleted all of the bin/obj folders and then re-ran the tool and was able to upgrade both the Android and iOS projects

I will start reviewing what else needs to be done. Thanks for the help.

[2021-12-09 13:44] #972 closed

[2021-12-10 08:07] ElektroStudios commented on #967
I was getting exact same errors, the upgrade-assistant was in a infinite loop trying to update NuGet references.

But in my case, (re)installing / updating to the latest version of .NET SDK 6 and Desktop Runtimes solved the issue...

https://dotnet.microsoft.com/en-us/download/dotnet/6.0

[2021-12-10 10:37] dampee commented on #931
Just checked with version v0.3.260801 and it works now. Thanks a lot!

[2021-12-11 16:50] kjartanvalur commented on #963
Same here

[code]

[code]

[2021-12-13 11:56] Sacwith opened #975 "couldn;t able to install upgrade assistant"
Problem encountered on https://dotnet.microsoft.com/en-us/platform/upgrade-assistant/tutorial/install-upgrade-assistant
Operating System: windows

The tool package could not be restored.
Tool 'upgrade-assistant' failed to install. This failure may have been caused by:

* You are attempting to install a preview release and did not use the --version option to specify the version.
* A package by this

[2021-12-13 23:55] twsouthwick opened #976 "Create a provider system for analyze report writers"
It would be great to have a provider that would give you the correct writer given a format so we can separate out the writing from the format selection. For example:

[code]

_Originally posted by @twsouthwick in https://github.com/dotnet/upgrade-assistant/pull/966#discussion_r768211876_

[2021-12-14 18:53] twsouthwick commented on #971
Have you installed it? Once you run `dotnet tool install -g upgrade-assistant` that command should work.

[2021-12-14 18:53] #968 closed

[2021-12-14 20:53] sunandabalu commented on #975
@Sacwith Are you able to install / restore any other nuget packages?

[2021-12-14 20:57] sunandabalu commented on #969
Yes, that is correct there is no straight-forward way to upgrade to .NET 5.0 using upgrade-assistant since we switched LTS, Current and Preview to be .NET 6.0. Also, .NET 5.0 is EOL in a few months, so its probably a good idea to move to .NET 6.0 which is a LTS release meaning its going to be around for 3 years. Closing this issue as there is nothing actionable UA team can do here, feel free to co

[2021-12-14 20:57] #969 closed

[2021-12-14 20:59] sunandabalu commented on #963
@TheMagnificent11 @kjartanvalur Are you able to install any other nuget packages?

[2021-12-14 21:53] danroth27 opened #977 "Detect and fix issues with inconsistent sets of platform package versions"
## Summary

Various packages that ship as part of .NET releases. While older versions of these packages may work with newer .NET versions, we only test with consistent sets of package versions for a given .NET release and we require consistent sets of package versions be used to stay in support. This proposal is to provide tooling to detect when package versions are out of date for a give .NET ver

[2021-12-14 21:59] sunandabalu commented on #977
@danroth27  Upgrade-Assistant is already doing the upgrade to a minimum-version-that-works-with-targetTFM while upgrading a project to a specified target TFM using nuget APIs, is this design-proposal to provide an option to just upgrade packages without making a TFM change?

[2021-12-14 22:02] danroth27 commented on #977
Hi @sunandabalu. This functionality would check the NuGet package packages given the current TFM to make sure they are updated and consistent to stay in support. I think this isn't necessarily the same as the min versions that work with the TFM.

[2021-12-14 22:06] sunandabalu commented on #977
Got it, likely this will also help with the customer requested feature of providing information when nuget packages are deprecated and recommendations on path forward.

[2021-12-14 22:47] danroth27 opened #978 "Detect impact from breaking changes during version-to-version upgrades and provide code fixes"
## Summary

When upgrading an existing .NET project to a newer version (version-to-version upgrade) it would be great to have a way to detect the impact of breaking changes in .NET and to provide code fixes for those breaking changes.

## Motivation and goals

Upgrading a .NET app to the latest Current or LTS release is a manual and error-prone process. We provide docs on how to migrate from versi

[2021-12-14 22:51] mjrousos commented on #978
The ability to plug in arbitrary analyzers and code fix providers is already present in UA. The piece that's missing here, I think, is the ability to scope analyzers to specific TFMs.

For example, if there's a breaking change in ASP.NET Core 7, we will need a way for the author of the analyzer that detects it to somehow indicate that the analyzer should be used when the end-user is upgrading to .

[2021-12-14 23:41] TheMagnificent11 commented on #963
I couldn't install the Dotnet EF tool and I couldn't add a NuGet package to a csproj either.

I checked my package source in Visual Studio and there are none there, which I assume is the problem.  Not sure how it got into this state as this a new laptop.

I added `https://api.nuget.org/v3/index.json` as a package source via Visual Studio and now everything is working.

[2021-12-14 23:41] #963 closed

[2021-12-15 08:31] shreeakshaya11 commented on #971
I have installed the upgrade assistant but not able run analyze command.

[2021-12-15 17:08] adegeo opened #979 "Remove internal command log entries from console output"
## Summary

When using the analyze command, you can see that it provides information about adding reference to the `Microsoft.DotNet.UpgradeAssistant.Extensions.Default.Analyzers` package. This is an internal note/log entry that has no bearing on what the user should do. It sounds like the user should do this and can be confusing. This is especially important during analyze since this mode is used

[2021-12-15 17:14] adegeo opened #980 "WinForms note about SetHighDpiMode is confusing"
## Summary

There is a warning output in the analyze command related to using the new `SetHighDpiMode` API, but it's not very clear.

1. First, my project isn't setting DPI in `app.config` or `app.manifest` so it telling me that I shouldn't do that makes no sense.
2. Second, why is this a warning?
3. Third, considering that .NET 6 and WinForms contains a whole new startup bootstrap, this is the le

[2021-12-16 22:22] sunandabalu commented on #786
Addressed by #966

[2021-12-16 22:22] #786 closed

[2021-12-16 22:23] sunandabalu commented on #690
@twsouthwick there seem to be no open issues in this epic, can this epic be closed?

[2021-12-16 22:29] sunandabalu commented on #805
Addressed by #877

[2021-12-16 22:29] #805 closed

[2021-12-17 21:30] jlugogarcia commented on #971
If you had installed this tool previously try doing first:

`dotnet tool update -g upgrade-assistant`

[2021-12-20 20:05] nandostyle commented on #971
I am was having this very same issue.  I fix it by re-installing the tool with a command prompt in Admin mode.

[2021-12-20 20:39] bgarlick opened #986 "Upgrading a WPF .NET Framework SDK-style project fails."
### Describe the bug
It seems the "<UseWPF>true</UseWPF>" property only gets added to the config file if the project is upgraded to the SDK-style project - if it's already SDK-style, it doesn't get added, and we get failures.

### To Reproduce
Use a WPF .NET Framework SDK-style project and upgrade to the latest .NET 5/6

[2021-12-20 20:57] bgarlick opened #987 "Tool feedback while upgrading could be a little more clear"
## Summary
When performing the steps to upgrade a project, you get feedback with the portions that are [Complete] (shows up in green) and the next step to be performed has [Next Step] (in yellow). In the two examples below, these were sequential steps. From one to the next, several were marked [Complete] even though we didn't explicitly complete those steps. What it really means is that these step

[2021-12-22 07:46] shahramshahram opened #988 "Missing file path in backupName!"
https://github.com/dotnet/upgrade-assistant/blob/efb3cc30a24e699e6e4337f263a2b9478f04f618/src/components/Microsoft.DotNet.UpgradeAssistant.MSBuild/MSBuildProject.File.cs#L135

something like that
            var fileName = Path.GetFileName(filePath);
            var backupName = $"{Path.GetFileNameWithoutExtension(fileName)}.old{Path.GetExtension(fileName)}";
            var dirPath = Path.GetDire

[2021-12-22 09:38] jbearfoot opened #989 "Program.cs and/or Startup.cs from custom extension is not used"
If a custom extension includes template files that already exist in the default extension (e.g. Startup.cs) then templates from the default extension will be used rather than templates from the custom extension.

### To Reproduce

1. Clone repo https://github.com/jbearfoot/CustomUpgradeExtension to e.g. "c:\temp"
2. Build the cloned repo
3. Run the upgrade-assistant on some project (e.g. an empty

[2021-12-23 01:20] sshquack commented on #550
Please support this for macOS. Here is the error message I get trying to upgrade from a Framework 4.8 to .net 5

[code]

Environment info
[code]

[2021-12-23 04:38] papyr opened #990 "No way to select upgrade options when upgrading in cmd line"
Hello, after i run the upgrade tool, the tool lists multiple targets but `no way to select which one to target` on the command line after running tool

[2021-12-23 04:38] papyr opened #991 "Convert asp MVC partials to ViewComponets or AnchorTags"
Hello we need help to modernize and upgrade from partials to view components

[2021-12-26 10:56] AndiRudi commented on #550
Sadly, I just discovered the same error message. I feel everything `.net` should not rely anymore on Visual Studio.

[2021-12-26 21:25] SniperED007 commented on #836
I'm getting the following error as well:

`[21:20:08 INF] Applying upgrade step Clean up NuGet package references
[21:20:08 INF] Adding package reference: Microsoft.DotNet.UpgradeAssistant.Extensions.Default.Analyzers, Version=0.3.261602
[21:20:14 INF] Reference to .NET Upgrade Assistant analyzer package (Microsoft.DotNet.UpgradeAssistant.Extensions.Default.Analyzers, version 0.3.261602) needs to

[2021-12-28 08:44] rasenschachmatt commented on #928
Same here, this is really needed in a production development environment that is not fully connected to the internet for security reasons.

[2021-12-28 09:06] SnapADrag0n commented on #967
I was getting same error while running "upgrade-assistant analyze" command:
[14:18:28 ERR] NuGet target in project.assets.json is still unavailable after restore. Please verify that the project has been restored.
[14:18:28 ERR] Restore has not restored the expected TFMs. Please review any warnings from dotnet-restore.

I just had to delete all obj and bin folders from the solution to make it work.

[2021-12-28 10:27] Sacwith commented on #761
is there any solution for this?
i have installed VS 2019
building proj in 2019

[2021-12-28 19:22] tharmes42 commented on #967
Same error here.

This worked for me as well. Thanks for the hint @SnapADrag0n

[2022-01-01 06:53] fiddyschmitt opened #994 "Could not load project. Please ensure the selected VS instance has the correct workloads installed for your projects."
### Describe the bug
While trying to upgrade the WebDAVSharp.Server project from .NET 4.5 to .NET 6, upgrade-assistant says that it cannot load the project, even though Visual Studio 2019 and 2022 load and compile it with issue.

### To Reproduce

1. Download the WebDAVSharp.Server from [here](https://github.com/WebDAVSharp/WebDAVSharp.Server)
2. Run `upgrade-assistant upgrade "WebDAVSharp.Server.

[2022-01-03 09:01] justcurious commented on #980
I appreciate you raising this issue. Seeing the HighDpiMode error confused me. It wasn't applicable to my project so I spent some time googling to find out what it meant and how I was supposed to fix it.  Eventually I stumbled on this post and realised I could just ignore it. So once again, thanks!

[2022-01-04 18:37] sunandabalu commented on #980
@adegeo Thanks for filing this issue, we will look into revising the `HighDPIMode` setting warning into something more meaningful for customers.

[2022-01-04 18:42] sunandabalu commented on #994
@fiddyschmitt Have you tried this `If Upgrade Assistant selected the incorrect VS version, please pass the argument --vs-path with the appropriate path. ` like mentioned in the error message? Sometimes when there are multiple VS installation upgrade-assistant might choose the wrong one and give the error missing workloads.

[2022-01-04 18:43] sunandabalu commented on #991
@mjrousos could you provide some insights here?

[2022-01-04 18:44] sunandabalu commented on #990
@papyr could you share a screenshot of what you are seeing? And also the `upgrade-assistant.clef` file if possible.

[2022-01-04 18:45] sunandabalu commented on #989
@twsouthwick Could please provide your insights here? /cc @mjrousos since I see EpiServer PR referencing this issue.

[2022-01-04 19:18] sunandabalu commented on #988
@shahramshahram Are you seeing an error due to a missing file path ? The filepath is used to move the backup file there [here](https://github.com/dotnet/upgrade-assistant/blob/main/src/components/Microsoft.DotNet.UpgradeAssistant.MSBuild/MSBuildProject.File.cs#L155) , the filepath is provided by users at runtime.

[2022-01-04 19:21] sunandabalu commented on #987
Thanks for the issue @bgarlick . This will be a useful distinction to make for customers. Feel free to put up a PR we will review the change.

[2022-01-04 19:32] sunandabalu commented on #986
@bgarlick By "true" property, did you mean the `<UseWPF>true</UseWPF>`? If so, that is correct the process that updates the project file to SDK-style adds this setting to the project file. Likely if its already SDK-style project its assumed that this setting is already take care of. We can look into checking for the setting if already SDK-style project.

[2022-01-04 19:35] sunandabalu commented on #986
@bleaphar Could you take a look at this issue?

[2022-01-05 01:51] fiddyschmitt commented on #994
Thanks @sunandabalu; yes I tried pointing it toe VS2019 and had the same result.

`upgrade-assistant upgrade "WebDAVSharp.Server.csproj" --vs-path "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise"`

Thanks!
Fidel

[2022-01-05 11:48] TheCakeMonster opened #997 "MSTest project type not yet supported"
Problem encountered on https://dotnet.microsoft.com/en-us/platform/upgrade-assistant/tutorial/install-upgrade-assistant
Operating System: windows

Version: 0.3.261602+efb3cc30a24e699e6e4337f263a2b9478f04f618

I tried to upgrade a .NET Framework unit test project using MSTest to the new SDK-style format using the latest version of upgrade-assistant today and the request to perform the upgrade was r

[2022-01-05 18:20] twsouthwick commented on #989
I think @jbearfoot's comment is probably the way we want to go. Follows the "last one wins" pattern. @jbearfoot can you submit a PR to swap those?

[2022-01-05 19:57] twsouthwick commented on #986
@bgarlick can you provide the "WPF .NET Framework SDK-style project" you're referring to? Is there a template for that?

[2022-01-06 00:53] mjrousos opened #999 "NuGet dependencies updated to conflicting versions"
Currently, it's possible for Upgrade Assistant to update the versions of NuGet packages depended on (according to its various update rules) such that two packages are updated to versions that depend on different versions of a common transitive dependency.

This leads to NuGet version conflicts that have to be resolved by explicitly referencing the transitive package with a version.

This issue cou

[2022-01-06 21:45] twsouthwick commented on #999
what about:

3. Move each update UA does into a substep that allows it to be applied and tested before moving on

[2022-01-06 23:09] mjrousos opened #1000 "Identify .NET APIs used that aren't available with new TFM"
Currently, the [.NET Portability Analyzer](https://github.com/microsoft/dotnet-apiport/) (API Port) can be used to understand which .NET APIs a solution uses aren't available on another TFM the user would like to upgrade to.

It would be great if Upgrade Assistant could have this same functionality in its analyze command so that two separate tools aren't needed to get a complete picture of the wor

[2022-01-06 23:20] mjrousos commented on #999
I like that idea. What should happen if restoring packages fails after a step is applied? Roll back and skip the step? Pause until the user fixes things manually?

Also, sub-steps makes me think that we would go through each dependency analyzer sequentially but, currently, we run through them in a loop until no more changes are needed since applying a later analyzer could cause an earlier one to h

[2022-01-07 00:14] twsouthwick commented on #999
I have a PR out to move the transitive dependency checker into its own step so then we don't have to cycle through them (AFAIK that's the only reason we loop). That's caused unnecessary looping in the past as well, so this way we do it separately.

For substeps, I have a working PR that will take the full list of changes and just run through each of them. We don't currently ever check if builds su

[2022-01-07 12:20] Whatever-6 commented on #994
I have the exact same problem with my solution.
You can run your command with the following parameter at the end
`--verbose`
This will get you more information on why it is failing or what sort of "workloads" are missing. Look especially on the [Failure] Log entries.

For me he had problems with some of my paths in the .csproj like for example
`<Import Project="$(SolutionDir)..\Dependencies\`
whic

[2022-01-07 23:56] fiddyschmitt commented on #994
Thanks, I'll check tonight

[2022-01-08 08:46] fiddyschmitt commented on #994
Hi @Whatever-6,

I see a different error:
`[Failure] Problem loading file in MSBuild workspace Msbuild failed when processing the file 'C:\Users\fiddy\Desktop\dev\cs\WebDAVSharp.Server-master\WebDAVSharp.Server.csproj' with message: The imported project "C:\Users\fiddy\Desktop\dev\cs\.nuget\nuget.targets" was not found.`

Full log [Here](https://github.com/dotnet/upgrade-assistant/files/7832899/ve

[2022-01-10 09:39] shahramshahram commented on #988
I mean in here
https://github.com/dotnet/upgrade-assistant/blob/622bd58fdc036ea706e4804534836361cf1db08c/src/components/Microsoft.DotNet.UpgradeAssistant.MSBuild/MSBuildProject.File.cs#L135
the File.Exists should look on the whole path not the name of file.

[2022-01-10 18:40] papyr commented on #990
There are several issues, I have moved on from that, since I dint hear back for a month.

In summary, when I upgrade a solution, it shows what targets are available in my machine, but `upgrade-assitant` **wont let me select anyone.**

https://stackoverflow.com/questions/70474916/upgrading-from-net-framework-4-7-2-to-net-6-using-upgrade-assistant-upgrades-to

[2022-01-11 16:42] PureWeen opened #1006 "Add Export property to attributes on Android"
https://github.com/dotnet/maui/pull/4033/commits/c1cbd2e7644ff3496a906c25274b5560b1271888

[2022-01-11 21:32] twsouthwick commented on #1006
@Sweekriti91 FYI

[2022-01-11 21:36] twsouthwick commented on #1000
Another option would be to convert the current ApiPort repo into a UA extension.

[2022-01-11 21:42] twsouthwick commented on #997
Can you provide a sample of what the project file looks like?

[2022-01-11 21:42] twsouthwick commented on #997
Possibly related: https://github.com/dotnet/try-convert/issues/421

[2022-01-11 22:51] adegeo commented on #979
Here is another example of confusing output:

[code]

[2022-01-12 12:54] ramedey commented on #550
+1

[2022-01-13 00:49] twsouthwick commented on #1000
We could also use the data as an input for an IDependencyAnalyzer to identify the best match for API support.....

[2022-01-13 02:54] adegeo opened #1009 "Confusing guidance with app.config"
## Summary

The upgrade tool is telling you the following during upgrade:

However, it then adds the `System.Configuration.ConfigurationManager` NuGet package to the app, enabling support for `App.config`. Additionally, connection strings are migrated from App.config to appsettings.json, but with the code in the project untouched, and the `ConfigurationManager` package added, the app is still read

[2022-01-13 19:02] TheCakeMonster commented on #997
Yes, of course. Sorry for the delay. It's on GitHub at the following location. (This is the exact commit I tried it on, just in case we change this file in the next few days)

https://github.com/MarimerLLC/csla/blob/a050eb789bf92ed8acc23abe287f2704922d8d79/Source/Csla.test/csla.test.csproj

[2022-01-14 00:54] fasteddys opened #1010 "After Successful steps Upgrage report on CMD line, app.config still shows old 4.8 TFM"
The upgrade shows succeeded, but when you open the project file (not backup), it still shows 4.8 old framework

[2022-01-14 01:02] twsouthwick opened #1011 "The HTML writer shouldn't be using sarif types."
The HTML writer shouldn't be using sarif types.

_Originally posted by @twsouthwick in https://github.com/dotnet/upgrade-assistant/pull/1008#discussion_r784434519_

[2022-01-14 01:31] k8e commented on #918
Bump. Same issue.

[2022-01-14 12:55] bizinbarefeet opened #1012 "Feedback function failing"
Problem encountered on https://dotnet.microsoft.com/en-us/platform/upgrade-assistant/tutorial/install-upgrade-assistant#
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

=======================

Just wanted to suggest example code be put onto this page as i

[2022-01-15 20:20] mjrousos opened #1013 "Template files added to web apps should match ASP.NET Core 6 patterns"
The program.cs and startup.cs files added to web apps as they're upgraded work fine with ASP.NET Core 6, but the new simpler hosting APIs that don't use a startup.cs file at all would be even better for that scenario.

The template updater step should be updated to only add a program.cs, not a startup.cs.

[2022-01-17 03:16] Chainery opened #1014 "upgrade-assistant only can upgrade to the latest SDK version?Can't specify version upgrade?"
upgrade-assistant only can upgrade to the latest SDK version?Can't specify version upgrade?

[2022-01-17 03:58] #1014 closed

[2022-01-17 09:35] NeilAllen opened #1015 "Failed to install."
Tool 'upgrade-assistant' failed to update due to the following:
Failed to install tool package 'upgrade-assistant': Access to the path 'C:\Users\<username>\.dotnet\tools\.store\.stage\1jvuevgm.cbo' is denied.
Tool 'upgrade-assistant' failed to install. This failure may have been caused by:

* You are attempting to install a preview release and did not use the --version option to specify the versio

[2022-01-17 12:38] ladsaylee opened #1016 "System.InvalidOperationException: The project already transitively references the target project"
I am trying to migrate .NetFramework 4.7.2 to .NET 6 using the Upgrade Assistant.
I was able to successfully migrate full projects. However for one project the Upgrade assistant fails wit following Exception-

### Exceptions (if any)
<C:\Users\1437070\source\repos\Griffin_4_00_000_m\source\Next Service Manager\DM - diagnostic manager>upgrade-assistant upgrade .\DM.sln
-----------------------------

[2022-01-17 17:52] harsh9592 opened #1018 "Error while migrating from xamarin forms to .net maui"
Problem encountered on https://dotnet.microsoft.com/en-us/platform/upgrade-assistant/tutorial/install-upgrade-assistant
Operating System: windows

I got error as shown in below cmd logs

Microsoft Windows [Version 10.0.22000.376]
(c) Microsoft Corporation. All rights reserved.

C:\Users\Harsh>dotnet

Usage: dotnet [options]
Usage: dotnet [path-to-application]

Options:
  -h|--help         Display

[2022-01-17 18:42] #1018 closed

[2022-01-18 20:59] sunandabalu commented on #1010
@fasteddys  Looks like the upgrade was not actually successful if the TFM you are seeing is still .NET 4.8, could you please attach the `upgrade-assistant.clef` file so we can see if there are any errors that you hit during upgrade?

[2022-01-18 21:00] sunandabalu commented on #1012
@cathysull Is this something you can help take care of ?

[2022-01-18 21:13] sunandabalu commented on #1015
@NeilAllen Could you try installing in a different folder? looks like the one you are trying has some permission issues.

[2022-01-18 21:14] sunandabalu commented on #1016
@twsouthwick Could this be related to what you are trying to address with #1007 ?

[2022-01-19 09:06] NeilAllen commented on #1015
I'm using: dotnet tool install -g upgrade-assistant

How should I install to a different folder?

Thanks for your time.

[2022-01-19 17:47] fasteddys commented on #1010
The tool is still very buggy, I watched the Video and followed the steps.

Also do you have an un attended full auto upgrade mode/ CLI switch?

[2022-01-19 18:00] sunandabalu commented on #1015
I was referring to the error message pasted above - `Failed to install tool package 'upgrade-assistant': Access to the path 'C:\Users<username>.dotnet\tools.store.stage\1jvuevgm.cbo' is denied.` Try using the option `--tool-path <path>` along with the `dotnet tool install` command to try installing in a different folder. https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-tool-install#descri

[2022-01-19 18:01] sunandabalu commented on #1010
Yes, the option `--non-interactive` will run the tool unattended.

[2022-01-19 18:07] sunandabalu commented on #990
@papyr The only supported values for `tfm-support` are Current, LTS or Preview, it will not take specific TFM value or any other value. Also I see that you mentioned, that your library got converted to .netstandard 2.0 instead of 6.0, this is expected behavior in upgrade-assistant. There is logic added to determine the type of project to determine the TFM to move to, for a library project it will

[2022-01-19 18:38] Reet-Kaur commented on #1010
Hi, I noticed the same issue. Is there any alternative to fix the App.config until this bug gets fixed?

![image](https://user-images.githubusercontent.com/40193051/150193218-fbe5470b-56a9-4dd2-bf21-add8f41d10f8.png)

The tool clearly says that app config upgrade is completed. However, the app.config still contains the old values/settings
<?xml version="1.0" encoding="utf-8"?>
<configuration>
<sta

[2022-01-19 19:24] sunandabalu commented on #1016
@ladsaylee Looks like the issue is while loading the project in question by Roslyn Workspace, could you provide the project file or the solution if possible so we can try to repro it?

[2022-01-19 21:04] psiservices-aojo opened #1019 "Upgraded project(s) should not be provided as entrypoint option"
## Summary

Once a project has been successfully upgraded, it should no longer be provided as an entrypoint selection option.

## Motivation and goals

Using this tool on a large solution(100+ projects) requires manually tracking which project(s) have been upgraded. There should be built in logic that filters out upgraded projects and/or prevents them from being provided as an option when selectin

[2022-01-20 08:36] NeilAllen commented on #1015
@sunandabalu Disappointingly, I get the same issue - even from an elevated command prompt:

# dotnet tool install upgrade-assistant --tool-path d:\nuget
Failed to install tool package 'upgrade-assistant': Access to the path 'd:\nuget\.store\.stage\5i0skqcq.q3v' is denied.
Tool 'upgrade-assistant' failed to install. This failure may have been caused by:

* You are attempting to install a preview re

[2022-01-20 11:41] jarvis-89 opened #1021 "Error: NuGet target in project.assets.json is still unavailable after restore. Please verify that the project has been restored."
Problem encountered on https://dotnet.microsoft.com/en-us/platform/upgrade-assistant/tutorial/install-upgrade-assistant
Operating System: windows

I'm trying to upgrade the application developed with .net core 2.0 to .NET 6 with upgrade assistance.

Getting error while executing `upgrade-assistant upgrade <Path to csproj or sln to upgrade>` command.

Getting following error.

![Screenshot 2022-01-

[2022-01-20 15:38] mjrousos commented on #991
This is similar to #276 (maybe a duplicate?). I think at the very least there should be an analyzer that detects usage of MVC Partials and points users at ViewComponent documentation so that they can learn about the more modern alternative.

I don't think we want to automate changing from partial views to view components for two reasons, though:

1. I suspect it may be difficult to get the code fi

[2022-01-20 19:16] twsouthwick commented on #550
I'm interested in what your use case is. Can you share what project type you're coming from and where you want to go with it?

The tool was initially designed to move people from ASP.NET to ASP. NET Core which requires VS because that's where the sdk was available. There are other workloads we're exploring that don't require VS, but that is where that limitation comes from.

[2022-01-20 19:58] sunandabalu commented on #1019
@psiservices-aojo If a project has been "fully" upgraded per upgrade-assistant, then it will be marked as complete and will display so in the console. Isnt that the behavior you are seeing?

[2022-01-20 19:59] sunandabalu commented on #1021
@jarvis-89 Could you try running the tool in verbose mode `-v` and provide the `upgrade-assistant.clef` on that run?

[2022-01-20 20:06] sunandabalu commented on #1010
Apologize I misunderstood the initial statement, I assumed the TFM is not updated in the project file but you are talking about the `app.config` file. upgrade-assistant only takes the settings from app.config , web.config and creates the appsettings.json - https://github.com/dotnet/upgrade-assistant/blob/main/src/extensions/default/Microsoft.DotNet.UpgradeAssistant.Steps.Configuration/Updaters/App

[2022-01-20 22:54] twsouthwick commented on #1016
This is unrelated to the fix in 1007. We'd need more details for the project file

[2022-01-21 08:24] AndiRudi commented on #550
I am not sure what you mean by that. We have some projects written in .net (either .net framework 4.x or .net core 3.1) and I wanted an easy automated way to update them to .net 5 or 6 on my mac.

[2022-01-21 10:10] NeilAllen commented on #1015
@sunandabalu

Yes, if I follow the ms botsay tutorial, I can install the package OK.

dotnet tool install --add-source ./microsoft.botsay/nupkg microsoft.botsay
You can invoke the tool from this directory using the following commands: 'dotnet tool run botsay' or 'dotnet botsay'.
Tool 'microsoft.botsay' (version '1.0.0') was successfully installed. Entry is added to the manifest file M:\microsoft.b

[2022-01-21 14:39] mjrousos commented on #1010
Like @sunandabalu said, the only updates the tool makes in app.config/web.config is to migrate app settings and connection strings, and to disable config sections that won't work on .NET 6.

It's a good idea to add an additional step to clean up `<supportedRuntime>` elements since they're no longer needed and just clutter the file, but it's probably a low-priority work item since I would expect th

[2022-01-21 15:04] NeilAllen commented on #1015
After looking at the working install, for botsay, I was able to figure out how to use a local source for the downloaded .nupkg file:

dotnet tool install --add-source D:/Downloads upgrade-assistant
You can invoke the tool from this directory using the following commands: 'dotnet tool run upgrade-assistant' or
'dotnet upgrade-assistant'.
Tool 'upgrade-assistant' (version '0.3.261602') was successfu

[2022-01-21 15:04] NeilAllen commented on #1015
See above

[2022-01-21 17:30] twsouthwick commented on #550
The ASP. NET tool chain was and is only available on Windows. Since we need the toolchain available in order to do the conversion, we initially limited it to Windows. Right now, the main focus of the tool is. NET Framework to. NET Core/6. However, in order to support Xamarin to Maui, we will need to figure out the non-windows story.

Have you been building the. NET Framework apps on non - Windows

[2022-01-21 21:10] twsouthwick commented on #1019
@sunandabalu this is referring to the entrypoint selection. That point does not do any checks as to whether it has been completed.

@psiservices-aojo This seems reasonable. The checks that are done in the project selection step could be used here to determine which entrypoints are already complete. Happy to take a PR!

[2022-01-22 10:40] AndiRudi commented on #550
For .NET Framework 4.x I was using Visual Studio for Mac / Mono at the time. I am not so much interested in an upgrade tool for that anymore as we have already moved all projects to .net core 3.1. (But there might be other people that are interested in that. If that only works on windows, then it's fine I guess to use a windows machine)

But conversion from .net 3.1 upwards should be possible on a

[2022-01-23 06:27] MillerMark opened #1023 "Repeating Loop/Lockup with the Upgrade Assistant"
Problem encountered on https://dotnet.microsoft.com/en-us/platform/upgrade-assistant/tutorial/install-upgrade-assistant
Operating System: windows

![image](https://user-images.githubusercontent.com/4841528/150667198-062e3aea-934c-4da6-b9ff-8fbbf19f9abc.png)

I was upgrading a .NET Framework 4.7.2 project using the Upgrade Assistant. On the last step, it appears I accidentally hit "2" instead of "1

[2022-01-24 19:22] twsouthwick opened #1025 "Clean up temporary restore directories"
Since we are locally doing the restore and cleanup transitive dependencies, I'm expecting this to be much more performant than needing to do `dotnet restore`, is there a cleanup strategy for the temp folder structure created? also will this be an issue with larger projects?

_Originally posted by @sunandabalu in https://github.com/dotnet/upgrade-assistant/pull/1007#discussion_r791060626_

[2022-01-24 19:23] #1021 closed

[2022-01-24 20:09] sunandabalu commented on #1023
@MillerMark Appears to be some weird async issue that went into a loop, were you able to complete your upgrade later with the right option? Could you also attach the `upgrade-assistant.clef` file?

[2022-01-24 20:12] sunandabalu commented on #1010
@mjrousos you are right, .NET 6 does ignore app.config as a whole.

@fasteddys Feel free to put up a PR with changes recommended by @mjrousos above, we will review it and get it merged if approved.

[2022-01-25 23:00] twsouthwick opened #1030 "Ingest HTML template in an automated way"
## Summary

Since the HTML template is the output of some other tool, it should be at least documented, if not automated, as to how and where it comes from.

## Motivation and goals

1. Opaque javascript blob in the template that who knows what it's doing
2. No clear direction on how to fix any bug in the template or a new version of it
3. No way to track security issues for any of the npm package

[2022-01-26 15:01] MillerMark commented on #1023
I was able to complete the upgrade later (after exiting and restarting the tool). Where can I find upgrade-assistant.clef?

[2022-01-26 17:09] adegeo opened #1031 "WinForms Visual Basic projects are upgraded to .NET 5 but they should be upgraded to .NET 6"
For some reason the tool is choosing the `net5.0-windows` TFM. It should choose the `net6.0-windows` TFM.

[2022-01-26 17:10] mjrousos commented on #1031
How odd. Maybe a bug in the VB TFM selector. Can you confirm that this still happens after `dotnet tool update -g upgrade-assistant`?

[2022-01-26 17:14] mjrousos commented on #1031
I think I see the issue. The [VB "My" TFM selector](https://github.com/dotnet/upgrade-assistant/blob/0bfbdf260b6ebf26f48d2f1fe453914d6f8a9750/src/extensions/vb/Microsoft.DotNet.UpgradeAssistant.Extensions.VisualBasic/MyTypeTargetFrameworkSelectorFilter.cs#L42) is updating things to .NET 5 instead of using `ITargetFrameworkSelectorFilterState.AppBase`. In other words, it's got .NET 5 hard-coded ins

[2022-01-26 19:57] oakleydye opened #1032 "upgrade-assistant command not found"
Problem encountered on https://dotnet.microsoft.com/en-us/platform/upgrade-assistant/tutorial/install-upgrade-assistant
Operating System: windows
When running `upgrade-assistant analyze`, I get the error `upgrade-assistant: command not found.` However, when running `dotnet tool install -g upgrade-assistant`, I get the error `Tool 'upgrade-assistant' is already installed.` Please advise.

[2022-01-26 21:19] sdipiazzactr commented on #574
We have a similar issue. Our solution has 200+ projects, but most of these are loaded at runtime; they are not directly referenced from the main exe. The upgrade assistant only lists the direct references to the entry point; it is not clear how to get it to upgrade the rest of the projects in the solution.

[2022-01-27 00:14] sunandabalu commented on #574
@sdipiazzactr You can specify `--entry-point` option with a list of projects or wildcard `*` to pick all projects for upgrade-assistant to process

[2022-01-27 00:14] #574 closed

[2022-01-27 00:16] sunandabalu commented on #1032
@oakleydye Could you try updating the version of upgrade-assistant installed and try again?

[2022-01-28 08:08] Prodigio opened #1033 "Question: where does the SARIF output goes to?"
I could not find any documentation on where the actual file is saved to. Even going through code did not helped me.

Could anyone lead me to documentation or any other hint, please?

[2022-01-28 16:36] mjrousos opened #1034 "The analyze command doesn't identify NuGet packages that need updated to newer versions"
One of the useful features of the `analyze` commands is the ability to see which NuGet dependencies will need to change as part of upgrade.

This doesn't work for packages that need updated to work with the new TFM, though. As an example, I have a project with a dependency on EntityFramework version 6.1. This version of the EF package won't work with .NET 6 so I would expect the `analyze` command

[2022-01-28 17:21] sunandabalu commented on #1033
@Prodigio The file gets saved to the `CurrentDirectory` from where you are running the `upgrade-assistant` tool.

[2022-01-28 17:21] #1033 closed

[2022-01-28 17:24] sunandabalu commented on #1034
`analyze` command analyzes on target TFM and not on the current TFM. The code path for `analyze` command uses the `TargetCompatibilityReferenceAnalyzer` similar to upgrade, I'm surprised that `upgrade` was able to recognize the package as potential upgrade and not `analyze`. Did you look at the SARIF report as well, does is it also not call out the package?

[2022-01-28 17:55] mjrousos commented on #1034
Thanks, @sunandabalu, for the details. Yea, I looked at the report and it doesn't mention EF. It's good we're using the target TFM. There must be something else going on here causing the package not to be flagged.

[2022-01-28 17:57] sunandabalu commented on #1034
@mjrousos When you get a chance, since you have a repro, it will be great to understand what is happening in debug mode.

[2022-01-29 03:36] su110399 commented on #967
But when I upgraded the code to the old version(5.0.404) through the parameter(--target-tfm-support), the same error occurred.

[11:26:40 ERR] NuGet target in project.assets.json is still unavailable after restore. Please verify that the project has been restored.
[11:26:40 FTL] Package analysis failed (analyzer Transitive reference analyzer: Restore has not restored the expected TFMs. Please revi

[2022-01-30 21:10] mmuresan opened #1036 "Error attempting to install the .NET Upgrade Assistant"
Problem encountered on https://dotnet.microsoft.com/en-us/platform/upgrade-assistant/tutorial/install-upgrade-assistant
Operating System: windows 10 Pro, version = 21H1

Steps to reproduce:
1. Installed the .NET 6 SDK 64bit
2. Executed dotnet from cmd and all seems fine.
3. Executed dotnet tool install -g upgrade-assistant

Got the following errors:
C:\Program Files\dotnet\sdk\6.0.101\NuGet.target

[2022-01-31 10:57] nhiorns commented on #1036
I had the same issue, the following worked for me:

If you follow the link at the bottom of your issue, or this one: https://docs.microsoft.com/en-gb/dotnet/core/tools/troubleshoot-usage-issues#nuget-feed-cant-be-accessed and go to the **401 (Unauthorized)** section, it will advise to try running the command with the following additional arguments:

dotnet tool install -g **--ignore-failed-sources

[2022-02-01 23:19] AceCoderLaura commented on #967
I'm also having this issue. I manually set my TargetFramework to net5.0 to get around it. Have to skip the "Update TFM" step though, otherwise it just sets it back to 6.0.

[2022-02-03 11:33] ladsaylee commented on #1016
I can share the project since it is due to certain policies. However when I manual converted it to .NET SDK and then to .NET Core it worked.

[2022-02-03 18:05] papyr commented on #991
Hello @mjrousos thanks for the suggestion.

The structure for the two are very similar so, but it _sometimes_ pops up as an issue in the upgrade assistant.

Many of the core workers, are dynamic components with data, like widgets, portlets (cards/charts) are coded as these components.

Compared to Java and Ruby there is such little support for this,  So, for the dev community, I was hoping to get

[2022-02-03 23:26] sunandabalu opened #1038 "MSBuildProject needs to be testable"
Currently we do not have any infra setup to test [MSBuildProject.cs](https://github.com/dotnet/upgrade-assistant/blob/main/src/components/Microsoft.DotNet.UpgradeAssistant.MSBuild/MSBuildProject.cs)
- [ ] Abstract out what is relevant to MSBuildProject from `MSBuildWorkspaceUpgradeContext,cs` to be able to mock things in the test
- [ ] Tests that can load MSBuildProject with path to test csproj

[2022-02-04 01:01] #952 closed

[2022-02-04 13:27] ansedd95 commented on #904
Using upgrade assistant for Optimizely projects, we are having this issue as well.

[2022-02-04 21:29] mjrousos opened #1039 "NuGet warnings are very noisy and distracting"
NuGet-related warnings introduced by Upgrade-Assistant changes show up in console output as warnings interspersed with the list of upgrade steps to be applied making the list of upgrade steps unreadable.

This is using the latest nightly UA builds. I attempted to upgrade the eShop MVC sample. After applying the second sub-step under `Clean up NuGet package references` (`Package map reference analy

[2022-02-04 21:32] mjrousos commented on #1039
It's even worse after changing TFMs. I have so many NuGet errors that I can't see the upgrade steps at all.

[2022-02-04 21:46] mjrousos opened #1040 "NuGet package map analyzer upgrades to version 5 of System.Configuration.ConfigurationManager instead of 6"
The package map reference analyzer upgrades references to the Framework assembly System.Configuration to the System.Configuration.ConfigurationManager NuGet package, instead. Unfortunately, it is [hard coded](https://github.com/dotnet/upgrade-assistant/blob/main/src/extensions/default/Microsoft.DotNet.UpgradeAssistant.Steps.Packages/PackageMaps/AssemblyPackageMaps.json#L13) to upgrade to v5 of the

[2022-02-08 11:19] Szajkop opened #1042 "Unexpected error occured when trying to analyze a .net framework project"
Problem encountered on https://dotnet.microsoft.com/en-us/platform/upgrade-assistant/tutorial/install-upgrade-assistant
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

PM> upgrade-assistant analyze MySolution.sln
-------------------------------------------

[2022-02-08 17:14] p-roman commented on #1042
I'm also running into this same issue when running the upgrade assistant on a .NET Framework 4.8 Class library.

[2022-02-08 17:39] sunandabalu commented on #1042
Taking a look

[2022-02-08 18:51] sunandabalu opened #1044 "End-to-End integration test for `analyze` path"

[2022-02-08 20:09] #1042 closed

[2022-02-08 21:23] sunandabalu commented on #1036
@mmuresan Like @nhiorns suggested please try with `--ignore-failed-sources` to see if it helps.

[2022-02-09 04:36] AMS-Hasz1 opened #1045 "https://github.com/dotnet/upgrade-assistant/issues/991#issue-1087369254"
## Summary

1-2 sentences. Say what this is about.

## Motivation and goals

1-2 paragraphs, or a bullet-pointed list. What existing pain points does this solve? What evidence shows it's valuable to solve this?

## In scope

A list of major scenarios, perhaps in priority order.

## Out of scope

Scenarios you explicitly want to exclude.

## Risks / unknowns

How might developers misinterpret/misus

[2022-02-09 22:03] p-roman commented on #1042
Thanks, but it looks like the pipeline build of this fix failed...

[2022-02-09 23:02] sunandabalu commented on #1042
@p-roman yes, coz the buildpools running the PR builds were backed up really bad. The internal CI build with the merge was green as you can see from the build status in the ReadMe.

[2022-02-10 00:40] sunandabalu commented on #545
This is addressed by fix for #785 , closing this issue

[2022-02-10 00:40] #545 closed

[2022-02-10 17:18] HighPerfDotNet opened #1046 "dotnet tool install fails with "Version string portion was too short or too long. (Parameter 'input')""
Trying to install using **_dotnet tool install -g upgrade-assistant_** and getting Exception -

"Unhandled exception: System.ArgumentException: Version string portion was too short or too long. (Parameter 'input')
   at System.Version.ParseVersion(ReadOnlySpan`1 input, Boolean throwOnFailure)
   at System.Version.Parse(String input)
   at System.Version..ctor(String version)
   at Microsoft.DotNet

[2022-02-10 19:45] sunandabalu opened #1047 "Analyze console output need to indicate the completion of analysis"
https://developercommunity.visualstudio.com/t/The-NET-Upgrade-Assistant-analyze-comma/1657318

When using the .NET Upgrade Assistant “DotNet” tool version 0.3.310801 to analyze a project, it runs for about 30 minutes, produces thousands of lines of output, but then just ends. It is not clear if it has completed the analysis or not. It should have a message at the end making it clear to the user th

[2022-02-10 19:46] sunandabalu opened #1048 "The .NET Upgrade Assistant tool should provide guidance for each warning logged to make them actionable"
https://developercommunity.visualstudio.com/t/The-NET-Upgrade-Assistant-tool-should-p/1657378

When using the .NET Upgrade Assistant “DotNet” tool version 0.3.310801 to analyze a C# project, I get a SARIF file that I can open in Visual Studio using the Tools -> Open Static Analysis Results as SARIF and it shows a list of warnings in the Error List window. In my case it shows 1598 warnings and I ca

[2022-02-11 15:26] HighPerfDotNet commented on #1046
Removal of 7.0.0-alpha.1.21567.1 SDK enabled install of upgrade-assistant - looks like the problem was with the SDK

[2022-02-14 20:11] ujjwalchadha opened #1049 "Extension: Adding a template file to a directory that does not exist in destination fails"
I'm working on the [fork of the project here](https://github.com/sotteson1/upgrade-assistant/tree/uwp-support) and adding the support to convert UWP apps to WinUI3 (WindowsAppSDK) in the Microsoft.DotNet.UpgradeAssistant.Extensions.Windows extension.

It seems like when I try to add a template file that is not in the root, the code fails with a directory not found exception at [this line](https://

[2022-02-14 20:21] ujjwalchadha opened #1050 "Add more functions to IProject like RemoveItem"
When implementing Updater<IProject>, the collection of project objects does not have enough functionality to perform operations like updating or removing an item from the project file.

I suggest exposing a more flexible object like ProjectRoot for performing operations that the current IProject helper functions do not provide and allow extensions to make use of it.

[2022-02-15 19:32] #1046 closed

[2022-02-15 19:34] #1045 closed

[2022-02-15 19:35] sunandabalu commented on #1049
@twsouthwick Is this something you can provide some insights on?

[2022-02-16 02:44] tovutan opened #1051 "I really hope the upgrade for Web API feature will be further developed soon"
## Summary

This tool very conveniently for who need upgrade project from .net framework to .net core or .net 5 (if you use visual studio 2019), .net 6 (with visual studio 2022). I really hope the upgrade for Web API feature will be further developed next time.

## Motivation and goals

This tool helps me to upgrade my project from .net framework 4.7.2 to .net 6 very convenient. I just need to run

[2022-02-16 19:26] rolfbjarne opened #1052 "Set the `NoBindingEmbedding=false` property when upgrading binding projects (iOS, tvOS, macOS)"
We're changing the default value of the `NoBindingEmbedding` MSBuild property in .NET in (from `false` to `true`): https://github.com/xamarin/xamarin-macios/pull/12694

This means that when upgrading binding projects, we should make the old implicit value explicit instead:

[code]

The only caveat is that if the project already sets this property, then nothing should be done.

CC @Sweekriti91

[2022-02-17 20:18] pjgironal opened #1053 "Error in step upgrade-assistant upgrade"
Problem encountered on https://dotnet.microsoft.com/en-us/platform/upgrade-assistant/tutorial/install-upgrade-assistant
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

Step: dotnet tool install -g upgrade-assistant -> results OK

Step: upgrade-assistant an

[2022-02-21 07:58] Mlmolefe2 opened #1054 "Install-Package dotnet-validate -Version 0.0.1"
https://github.com/NuGetPackageExplorer/NuGetPackageExplorer/blob/main/.github/release-drafter.yml

[2022-02-21 08:01] Mlmolefe2 opened #1055 "Install-Package dotnet-validate -Version 0.0.1"
https://github.com/NuGetPackageExplorer/NuGetPackageExplorer/blob/main/.github/dependabot.yml

[2022-02-21 13:05] shahramshahram commented on #904
If the project has more that one packages.config file then the issue can be reproducible at least with our Optimizely CMS product. A workaround for our projects was keep the main packages.config and remove others packages.config files.
Here is the link to workaround https://github.com/episerver/upgrade-assistant-extensions under known issues.

[2022-02-23 23:41] wsheemsft opened #1057 "Tutorial requires VS 2022 but recommends Microsoft SARIF Viewer which only supports 2019"
### Describe the bug
The tutorial requires Visual Studio 2022 but recommends a SARIF viewer that is only compatible with Visual Studio 2017 and 2019. The viewer should be updated, or the recommendation removed.

### To Reproduce
1. Visit the [tutorial intro](https://dotnet.microsoft.com/en-us/platform/upgrade-assistant/tutorial/intro). Note how it says the Prerequisites are "Visual Studio 2022 17.

[2022-02-24 01:25] RussKie opened #1058 "Detect and flag use of Microsoft.NETCore.Portable.Compatibility"
It would be great if the UA could detect references to [Microsoft.NETCore.Portable.Compatibility](https://www.nuget.org/packages/Microsoft.NETCore.Portable.Compatibility) in .NET Core 3.1 and beyond, and flag is as incompatible. This package is unnecessary since .NET Core 2.0, and should not be used in .NET applications.

Related issues https://developercommunity.visualstudio.com/t/WinForms-Design

[2022-02-24 08:13] zdzdz commented on #946
I'm experiencing absolutely the same issue.
I follow the guide from the documentation https://docs.microsoft.com/en-us/dotnet/core/porting/upgrade-assistant-aspnetmvc with absolutely freshly created MVC project (.net 4.5.2). I run the upgrade-assistant and second step that converts the project file fails with 'Unexpected error applying step
System.Collections.Generic.KeyNotFoundException: The give

[2022-02-24 23:43] sunandabalu commented on #1057
@wsheemsft Good catch! we will edit the ReadMe to add the link for the right version of SARF Viewer

[2022-02-24 23:44] sunandabalu commented on #1055
@Mlmolefe2 could you provide any details on any issues you are observing using upgrade-assistant?

[2022-02-24 23:44] sunandabalu commented on #1054
@Mlmolefe2 could you provide any details on any issues you are observing using upgrade-assistant?

[2022-02-24 23:45] sunandabalu commented on #1053
@pjgironal its weird that `analyze` command works and `upgrade` doesnt. Could you provide the version number that you are using for upgrade-assistant?

[2022-02-25 10:26] gitzko opened #1059 ".NET Framework 4.7.1 console app converts to AspNetCore app"
I have a Windows Service console app which using Current upgrade path converts to AspNetCore app. Is there a way to avoid this?
The service actually is one part Web Service **client**, but it is still just a cmd line program. With no http listeners required, let alone controllers.

[2022-02-25 21:04] pjgironal commented on #1053
Thank you for your support. I'm using Windows 11 latest version and my upgrade-assistant version is Microsoft .NET Upgrade Assistant v0.3.310801+057ffba0656270dc5d83c015748ac56daed55886

[2022-02-28 15:14] XalbatEcheverria opened #1063 "ArgumentNullException in "Apply fix for UA0002: Types should be upgraded""
- [ ] Include the log file `upgrade-assistant.clef` that is produced in the working directory
Can't upload the .clef file here, it says the format is unsupported.

### Describe the bug
Trying to upgrade a project from .net 4.6.1 to .net 6. I can't provide the full project, but might be able to share the .csproj if needed

### Exceptions (if any)

[code]

### Further technical details
- Windows ver

[2022-03-01 18:32] sunandabalu commented on #1059
@gitzko Unfortunately there is no automated way to stop UA from not considering this project an AspNet app, as UA determines that based on web dependencies in the project. Have you tried manually making the TFM change and then run the next steps via UA? does that help?

[2022-03-03 23:28] #1054 closed

[2022-03-03 23:28] #1055 closed

[2022-03-03 23:44] sunandabalu commented on #1063
@XalbatEcheverria Are you trying to convert cshtml pages to razor documents? we have an issue tracking the bug for that here - https://github.com/dotnet/upgrade-assistant/issues/893

[2022-03-03 23:58] #1036 closed

[2022-03-04 08:03] XalbatEcheverria commented on #1063
@sunandabalu Yes I am, do you think these two errors could be related ?
What do you advise me to do to continue my migration, ignoring the error and change these files manually ?

[2022-03-04 18:05] sunandabalu commented on #1063
Likely they are related. @mjrousos could you provide some insight here for razor upgrade?

[2022-03-04 18:08] #1053 closed

[2022-03-04 18:08] pjgironal commented on #1053
Solved

[2022-03-08 21:25] ujjwalchadha opened #1069 "PackageMaps: Add conditional packages and forced packages"
The `Microsoft.DotNet.UpgradeAssistant.Steps.Packages.Analyzers` extension with the `PackageMaps` template file provides an effective way to list the packages we want to remove and add. While creating the UWP to WinAppSDK extension, I came up with 2 more requirements for this extension to accomplish.

1. Conditional netcore packages: We want to add a certain package to the project only if another

[2022-03-08 21:33] ujjwalchadha commented on #1050
@sunandabalu @twsouthwick do we have any update for this?
I am looking for IProjectFile.RemoveItem method which does not seem to be present.

[2022-03-11 11:01] cyclr-adrian opened #1070 "Mismatch in parameter ordering between Github documentation, what the tool expects and what the tool help says."
I have just installed version `0.3.310801+057ffba0656270dc5d83c015748ac56daed55886` of the `upgrade-assistance` tool by running the following command:
[code]

I ran the tool's help command:
[code]
and got an output:
[code]

Therefore using the specified usage pattern `upgrade-assistant [options] [command]` (from the help output), I tried running the following command:
[code]
This failed with an ou

[2022-03-14 08:39] sasquad92 commented on #648
I have same issue, trying to install with command:
`dotnet tool install -g upgrade-assistant` or `dotnet tool install -g upgrade-assistant --ignore-failed-sources`

result:
[code]

in english:
upgrade-assistant 0.3.310801 is not compatible with net60 (.NETFramework,Version=v6.0) / any.
Packet  upgrade-assistant 0.3.310801 supports:
net5.0 (.NETCoreApp,Version=v5.0) / any
net6.0 (.NETCoreApp,Versio

[2022-03-14 17:19] sunandabalu commented on #648
@sasquad92 Do you have issues restoring other nuget packages?

[2022-03-14 17:22] sunandabalu commented on #1070
@cyclr-adrian Good catch! We would love a quick PR to correct this in the `--help` documentation, feel free to put up a PR if you are upto it :)

[2022-03-16 15:04] stoiandan commented on #1032
I have the same problem, @sunandabalu I've tried updaring the tool via `dotnet tool update -g upgrade-assistant`
It said it reinstalled it successfully, but it's still not in the path.
Running on macOS 12, Monterery, aarch64 (so called Apple Silicon).

[2022-03-18 08:23] sasquad92 commented on #648
No, olny with installing this tool

[2022-03-18 23:18] sunandabalu commented on #1032
@stoiandan Running UA on MacOS is not a scenario that support at the moment and frankly not a scenario we have tested so likely there will be issues there.

[2022-03-18 23:53] sunandabalu commented on #1023
It will be in the same folder where you are running the upgrade-assistant from

[2022-03-19 21:17] ldwedari opened #1072 "Unable to load the service index for source error"
### Describe the bug

_Note: this is not about installing with dotnet too install_

In a development environment where I use JFrog Nuget repository, I'm getting an _Unable to load the service index for source https://api.nuget.org/v3/index.json_ when running:
`upgrade-assistant analyze MyProject.sln`

I'm getting the error because the api.nuget.org cannot be reached, which in fact is true since I

[2022-03-20 21:34] KDGunther opened #1073 "dotnet \sdk\6.0.201 upgrade assistant error"
Problem encountered on https://dotnet.microsoft.com/en-us/platform/upgrade-assistant/tutorial/install-sdk
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant
![DotNetUpgradeError](https://user-images.githubusercontent.com/101827048/159186883-95ff7c25-1e24-4a3f-9

[2022-03-23 16:41] sunandabalu commented on #1073
@KDGunther looks like you might be seeing issues due to some private nuget feeds in your NuGet.Config, could you run the command with `--ignore-failed-sources` and see if it helps?

[2022-03-23 21:07] sunandabalu commented on #1050
@ujjwalchadha Per our offline conversation, feel free to put up a PR with the change we will be happy to review it :)

[2022-03-25 16:59] #1011 closed

[2022-03-28 19:19] sunandabalu commented on #1072
@ldwedari That is correct, UA connects to nuget APIs via https://api.nuget.org/v3/index.json and currently does not support running in offline mode. We do have an issue in the backlog to track that work #287

[2022-03-28 21:02] #690 closed

[2022-03-28 23:41] Amondale opened #1076 "upgrade-assistant upgrade . This tool is not supported on non-Windows platforms due to dependencies on Visual Studio."
## Summary

How about putting that higher in the README.MD, rather than having us assume it will work on Linux/Mac ootb?

## Motivation and goals

10-15 minutes time wasted to discover the tool isn't as XPLAT as it might be?

## In scope

While we're at it can we get a "mission statement" written for this valuable tool? I foresee that because there were both .Net *CORE* 4.6.1 and .Net *Framework*

[2022-03-30 08:05] mc0re opened #1078 "Internal errors during analysis"
Problem encountered on https://dotnet.microsoft.com/en-us/platform/upgrade-assistant/tutorial/install-upgrade-assistant
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

Analyzing a .NET Framework 4.6.1 project, got two errors.

[code]

[2022-03-30 09:10] mc0re opened #1079 "Could not load file or assembly System.Threading.Tasks.Dataflow"
Problem encountered on https://dotnet.microsoft.com/en-us/platform/upgrade-assistant/tutorial/install-upgrade-assistant
Operating System: windows

Tried to convert a .NET Framework 4.6.1 project:
[code]

The project does not use `Dataflow`.

[2022-03-30 16:53] #913 closed

[2022-03-30 19:41] skushubar opened #1080 "Problem loading file in MSBuild workspace"
- [X] Include the log file `upgrade-assistant.clef` that is produced in the working directory

### Describe the bug
When performing an analysis, all the projects in my solution generate the following error:

[code]
I believe this is due to the fact that because of the version of msbuild being used it is looking for some assemblies under Microsoft.NET.Build.Extensions that do not exist.

### To Rep

[2022-03-30 22:43] sunandabalu opened #1081 "Perf improvements for UA analyze and upgrade"

[2022-03-30 22:48] sunandabalu opened #1082 "Telemetry Improvements"

[2022-03-30 22:53] sunandabalu opened #1083 "WCF Analyzers and Codefixers"
- [x] #624
- [x] #363

[2022-03-31 23:56] sunandabalu opened #1085 "Improve User Experience"
- [ ] Users think the tool is hung when a long running operation is being performed, provide feedback on status to the user.
- [ ] Identify top 10 error messages we see generated from user code then add those links to UA
- [ ] Documentation for UA specific error messages (for the tool itself)
- [ ] Find the right doc for each tech placement: System.Web, WCF, UWP, C++/CLI project replacement option

[2022-04-01 00:04] sunandabalu opened #1086 "Support moving between "Core" versions (e.g. from .NET 3.1 to .NET 6.0)"

[2022-04-01 00:05] sunandabalu opened #1087 "Support .NET 7 Preview as a target"

[2022-04-01 00:08] sunandabalu opened #1088 "Provide a more comprehensive API analysis by using apis of .NET site"

[2022-04-01 00:09] sunandabalu opened #1089 "Provide support for API analysis on binaries"

[2022-04-01 00:12] sunandabalu opened #1090 "Support choosing other target frameworks like .NET Core 3.1 in UA as a means of getting to .NET 6"

[2022-04-01 00:14] sunandabalu opened #1091 "Investigate top NuGet errors/issues"

[2022-04-01 11:39] NeilAllen commented on #1015
Had to get back on this 1.

The real issue was McAfee Endpoint Security Scanners - I disabled it and `dotnet install tool update-assistant` works straight out of the box.

It seems mcafee is problematic elsewhere:
   https://ryanhayes.net/how-to-run-docker-windows-containers-with-mcafee-endpoint-security/
   https://stackoverflow.com/questions/41104410/pull-image-with-docker-on-windows-10-failed-t

[2022-04-01 11:39] #1015 closed

[2022-04-01 13:54] shahramshahram opened #1092 "Using System Web Analyzer or UA0001 does not run."
### Describe the bug
The System.Web and other web namespace is left after upgrade-assistant is done.
### To Reproduce
Create a basic mvc project from vs 2022 (ASP.NET Web Application (.NET Framework)) and run the command
upgrade-assistant  upgrade   "C:\BasicMVCProject\BasicMVCProject.csproj" --non-interactive   --ignore-unsupported-features

When I debug the issue and it shows the context.Compila

[2022-04-01 21:36] catara commented on #1086
what about 5 to 6? (ease the multiplatform transformations)

[2022-04-01 21:52] sunandabalu commented on #1086
@catara Yes, this issue tracks moving between various core versions, 3.1 -> 6 is an eg. scenario called out.

[2022-04-01 21:53] sunandabalu commented on #1092
@mjrousos Could you please provide some insights here?

[2022-04-02 02:58] hatzhang opened #1093 "None-interactive mode to do the step 2 of convert project file to SDK style only"
We want to convert the project file to SDK style first, then do the upgradation later.
Since we got lots of projects, we want this be done automaticlly.
And we wonder if the tool can exit after step 2  in none-interactive mode, this way we can combine the tool with some ps1 scripts easily to do the convertion .

[2022-04-03 18:47] #1049 closed

[2022-04-04 06:25] shahramshahram commented on #1092
Here is clef file
[upgrade-assistant.zip](https://github.com/dotnet/upgrade-assistant/files/8407182/upgrade-assistant.zip)

[2022-04-05 06:43] hatzhang commented on #1093
Using try-convert directly can do the trick:
[code]

[2022-04-05 06:43] #1093 closed

[2022-04-05 14:18] fue-medatixx commented on #1079
Hello, we get the same error while execute try-convert. The project does not use Dataflow.

Microsoft.Build.Framework.InternalErrorException: MSB0001: Internal MSBuild Error: Throwing from logger shutdown
=============
System.IO.FileLoadException: Could not load file or assembly 'System.Threading.Tasks.Dataflow, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'. Could not find or

[2022-04-05 18:58] sunandabalu opened #1095 "UWP -> WinUI Analyzers and Codefixers"

[2022-04-05 20:59] greg-allen-github commented on #1079
+1
Same exception trying to convert a framework 4.7.2 project. Project does not use dataflow library.

[2022-04-06 15:06] SriniDasari opened #1096 "Access Denied error at second step "Convert project file to SDK style""
I'm trying to update a simple class library project from .net framework 4.7.1 to .net 6. Getting access denied error at second step "Convert project file to SDK style".

[20:21:38 ERR] Unexpected error applying step
System.UnauthorizedAccessException: Access to the path 'C:\Srini\Projects\MercerGlobe\Globe-Upgrade\Old_Projects\Components\Mercer.MCOOL.Admin\Mercer.MCOOL.Admin.csproj' is denied.

[2022-04-06 16:38] sunandabalu commented on #1096
@SriniDasari Looks like the tool is not able to access the project file, maybe could you try running it against the project in a different folder?

[2022-04-06 16:59] sunandabalu commented on #1079
@mc0re / @fue-medatixx What version of msbuild is getting used for the tool? Locally when I tried to repro it, I could not see the error and it was `Using MSBuild from C:\Program Files\dotnet\sdk\6.0.201\`

[2022-04-06 17:20] SriniDasari commented on #1096
@sunandabalu . Thanks for quick reply.
I just tried to take a chance by unticking the default check on the read only checkbox in the properties of the project root folder and it worked.

[2022-04-06 17:20] #1096 closed

[2022-04-06 20:55] sunandabalu commented on #1078
@mc0re This was fixed sometime back, could you specify what version of upgrade-assistant are you using?

[2022-04-06 21:58] fue-medatixx commented on #1079
The same msbuild version is used. We get the same error if we use try-convert standalone.
The error goes away if we use try-convert with the option -m "C:\Program Files\dotnet\sdk\5.0.406"

[2022-04-06 22:13] sunandabalu commented on #1079
You can do the same with UA too using `--msbuild-path` parameter

[2022-04-07 06:53] mc0re commented on #1079
I use `upgrade-assistant` version `0.2.241603`.
The version information printed at the start of the process:
[code]

[2022-04-07 23:54] HankNguyen-MSFT opened #1097 "Unit Test project needs a concrete implementation of .netstandard"
- [ ] Include the log file `upgrade-assistant.clef` that is produced in the working directory

### Describe the bug
When upgrading Unit Test project, the assistant change <TargetFramework> to netstandard specs which causes an issue.

### To Reproduce

Upgrade a Unit Test project which has dependency on NUnitTestAdapter.

### Exceptions (if any)

Compile time error from IDE [NU1701](https://docs.mi

[2022-04-10 17:10] markobode11 opened #1098 "Upgrade assistant extension as a NuGet does not find Extension Manifest."
Made an extension and published it to NuGet https://www.nuget.org/packages/UpgradeAssistant.Extension.ForceTFM/
but after adding it to the Upgrade Assistant via upgrade-assistant extensions add UpgradeAssistant.Extension.ForceTFM
and running the tool an error message indicates that no ExtensionManifest file was found.

Is there something im missing when im packing and publishing the NuGet package?

[2022-04-11 03:38] RobDehn1 opened #1099 "Error downloading the nuget package"
Problem encountered on https://dotnet.microsoft.com/en-us/platform/upgrade-assistant/tutorial/install-upgrade-assistant
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

Hi
Error
Microsoft Windows [Version 10.0.22000.556]
(c) Microsoft Corporation. All right

[2022-04-11 12:18] markobode11 commented on #1098
It seems that the issue is in NuGet package structure. First picture is my package structure and second is one of the official packages.

![image](https://user-images.githubusercontent.com/54942994/162737552-2f178ba5-1c8c-426b-bb90-392acb5b2238.png)

![image](https://user-images.githubusercontent.com/54942994/162737597-d9e3cc0b-606f-455f-85ed-cca2c907af22.png)

Not quite sure how to resolve this s

[2022-04-13 08:42] #1098 closed

[2022-04-13 08:42] markobode11 commented on #1098
My solution was to create custom .nuspec file.

[2022-04-13 15:06] yucapro opened #1101 "[Failed] Clean up NuGet package references"
[11:02:19 ERR] Unexpected error
System.Xml.XmlException: '.', hexadecimal value 0x00, is an invalid character. Line 1, position 1.
   at System.Xml.XmlTextReaderImpl.Throw(Exception e)
   at System.Xml.XmlTextReaderImpl.Throw(String res, String[] args)
   at System.Xml.XmlTextReaderImpl.ParseRootLevelWhitespace()
   at System.Xml.XmlTextReaderImpl.ParseDocumentContent()
   at System.Xml.Linq.XDocu

[2022-04-13 22:37] sunandabalu commented on #1099
@RobDehn1 Looks like you are having permissions issues based on what is on your NuGet.config, could you try installing with `--ignore-failed-sources`?

[2022-04-14 05:34] dziedrius opened #1102 "Getting UA0002 with no clear explanation why and what to fix"
### Describe the bug
When running upgrade assistant get following:

And it is not clear, what type, why. I've scanned through migration guide and could not find anything related.

### To Reproduce

Create new web project:
[code]
and add class into Program.cs:
[code]
After running
[code]
You should get:
[code]

upgrade-asstant.clef file contains line:

AnalysisReport.sarif file contains:
[code]
Fro

[2022-04-14 20:29] mjrousos commented on #1083
To add more detail here, with CoreWCF releasing as a 1.0 soon, UA should help users migrate from WCF server APIs to CoreWCF.

[2022-04-15 10:09] Jakub-Nalewajek-vcbs commented on #928
@twsouthwick are you tracking the issue for connecting to Nuget feeds other than nuget.org despite them being provided nuget.config in another ticket?

[2022-04-21 00:41] thepunkduck opened #1103 "Can't get analyze to work, please help!"
Problem encountered on https://dotnet.microsoft.com/en-us/platform/upgrade-assistant/tutorial/install-upgrade-assistant
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

I have installed upgrade-assistant and am working through the "Get started" guide (https

[2022-04-26 21:54] sunandabalu commented on #1103
@thepunkduck Have you tried running from a different folder with a full path to the sln? Also does it show the help content when you just type `upgrade-assistant` or `upgrade-assistant analyze`?

[2022-04-26 21:57] sunandabalu commented on #1102
@dziedrius Thanks for the issue, makes sense we will look into making this warning more actionable.

[2022-04-26 21:59] sunandabalu commented on #1101
@yucapro Thanks for filing the issue. What kind of project are you trying to upgrade? Could you share the .csproj if possible along with the full upgrade-assisteant.clef` file?

[2022-04-26 21:59] #1099 closed

[2022-04-27 13:11] yucapro commented on #1101
@sunandabalu Thanks for getting back to me. The project upgrade didn't work. I simply started an new, empty .Net 6 project and manually moved over all the .cs files, then converted the structure from .Net 4.8 to Core 6. It was a bit painful, but I got it done in two days.

[2022-04-27 16:48] sunandabalu commented on #1101
Oh wow that is great that you were to get it upgraded in 2 days! Curious to know what kind of project you were trying though so we can see what can be done in UA.

[2022-04-28 13:27] pranavmishra7 opened #1105 "Unable to load the service index for source"
while running dotnet tool install -g upgrade-assistant I got following issue:
Unable to load the service index for source https://immesign.pkgs.visualstudio.com/_packaging/immlibrary/nuget/v3/index.json. [C:\Users\PranavMishra(Intuiti\AppData\Local\Temp\vlw4yamf.mcu\restore.csproj]
C:\Program Files\dotnet\sdk\6.0.202\NuGet.targets(130,5): error :   Response status code does not indicate success: 4

[2022-05-01 17:46] dannyjacosta commented on #1080
Hi @skushubar,
Did you ever find a solution to this problem? I'm experiencing the same issue.

[2022-05-02 20:49] lstatie commented on #1080
Any update on this issue?
I am getting the exact same error with all projects I run analyze against.
If i specify --msbuild-path, and indicate the folder containing msbuild, I get the error below and the analyze process stops:

[15:17:41 ERR] No MSBuild instance was found at C:\Program Files\dotnet\sdk\6.0.202
[15:17:41 ERR] Exception of type 'Microsoft.DotNet.UpgradeAssistant.UpgradeException' wa

[2022-05-02 23:38] sunandabalu opened #1108 "Support for upgrading vcxproj"
upgrade documentation that could be useful - https://docs.microsoft.com/en-us/dotnet/core/porting/cpp-cli

[2022-05-03 22:01] cathysull opened #1109 "Support API portability features and analysis"
Currently, APIPort (.NET API Portability Analyzer: https://github.com/Microsoft/dotnet-apiport) does not support .NET 6 and beyond. This issue is being open to consider adding this support directly into the .NET Upgrade Assistant for a one-stop place for tooling and support for your .NET upgrades.

[2022-05-03 22:07] sunandabalu commented on #1105
@pranavmishra7 Could you please try the command with `--ignore-failed-sources`?

[2022-05-03 22:11] sunandabalu commented on #1087
@brandonh-msft As part of this, could you also take care of getting the Arcade changes in for changing the SDK version to 7.0-preview in global.json? https://github.com/dotnet/upgrade-assistant/pull/1094

[2022-05-04 20:53] sunandabalu commented on #1088
Closing as duplicate of #1109

[2022-05-04 22:12] cathysull opened #1110 "Update recommendation for WCF services"
Likely just a string and link change to point to CoreWCF doc or repo.

[2022-05-05 00:04] sunandabalu commented on #114
NA anymore, closing this

[2022-05-05 00:04] #114 closed

[2022-05-05 00:13] sunandabalu commented on #285
I believe this is done since we moved messages to resource files.

[2022-05-05 00:13] #285 closed

[2022-05-06 00:06] sunandabalu opened #1114 "Support to be able to run specific steps only"
for eg. `upgrade-assistant upgrade xyz.csproj --steps 1-3` or `--cleanup-nuget-packages 0/1 and –update-tfm 0/1 and –update-nuget-packages 0/1 `

Option to apply all the sub-steps.

[2022-05-08 00:30] Mlmolefe2 opened #1115 "Upgrader"
Create and manage your own portable, digital identity with GlobaliD. Download it here: https://link.global.id/invite

[2022-05-09 16:26] sunandabalu commented on #1115
NA to upgrade-assistant, closing

[2022-05-09 16:26] #1115 closed

[2022-05-10 18:59] ujjwalchadha opened #1117 "Nuget logger spits error messages in between conversion"
While the conversion of the project is in process (Project has upgraded to sdk style, but the package references have not yet upgraded, the Nuget Restore commands spits out a bunch of error messages saying that the packages are not compatible with the newer .net version

[2022-05-10 19:26] #1048 closed

[2022-05-10 19:31] sunandabalu commented on #1047
Fixed via #1116

[2022-05-10 19:31] #1047 closed

[2022-05-11 20:37] sunandabalu commented on #1110
This change is merged

[2022-05-11 20:37] #1110 closed

[2022-05-19 17:58] rmjoia commented on #1102
I'm also getting that error but only on VSCode, doesn't show on VS2022 (17.1.6)

I also tried using the dotnet upgrade-assistant and the *.sarif file generated points to the same issue. We're talking about plain old controllers and public methods being flagged with that warning

`"ruleId": "UA0002",
          "message": {
            "text": "This type is not supported on .NET Core/.NET 5+ and sho

[2022-05-19 23:27] ujjwalchadha opened #1124 "Analyze command not working for UWP -> WinUI conversion"

[2022-05-19 23:28] ujjwalchadha opened #1125 "UWP Integration test failing in the pipeline due to pubxml files"
[code]

[2022-05-20 22:20] ujjwalchadha opened #1126 "Replace `CSharpSyntaxTree.ParseText` calls with `Trivia` or `SyntaxFactory`"

[2022-05-20 22:23] ujjwalchadha opened #1127 "Unable to load projects when TFM platform version is upgraded"
The upgrade fails with this error message
[code]

[2022-05-20 22:25] ujjwalchadha commented on #1127
A workaround:

We can get around this by deleting the "bin" and "obj" folders after the step when the tool fails and then rerunning the tool

[2022-05-20 22:27] ujjwalchadha opened #1128 "The tool should generate a report at the end of the conversion explaining the conversions done as well as the next steps"

[2022-05-20 22:40] ujjwalchadha opened #1129 "Allow skipping the minimum TFM check for extensions"
We need a generic solution for each extension to allow or disallow the DependencyMinimumTargetFrameworkSelectorFilter file to force a TFM different than the one selected by the extension.
This is currently the check that needs to be made into a generic solution: https://github.com/dotnet/upgrade-assistant/blob/9079a13a4c22372dfb72c8a4b1eb0c178ef1dfc9/src/components/Microsoft.DotNet.UpgradeAssistan

[2022-05-20 22:45] ujjwalchadha opened #1130 "Create a generic ApiAlertAnalyzer"
- Create a generic version of the ApiAlertAnalyzer so that extensions add their own `apialerts` file
- The newer version should allow you to tie an api alert to a particular set of components or project types

[2022-05-22 05:19] HumbertoElizondo opened #1133 "No Supported MSBuild Found (running upgrade-assistant)"
Problem encountered on https://dotnet.microsoft.com/en-us/platform/upgrade-assistant/tutorial/install-upgrade-assistant
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

[2022-05-24 21:29] Manookian opened #1137 "Unable to install upgrade-assistant"
Problem encountered on https://dotnet.microsoft.com/en-us/platform/upgrade-assistant/tutorial/install-upgrade-assistant
Operating System: windows

Provide details about the problem you're experiencing. Include your operating system version, exact error message, code sample, and anything else that is relevant.

C:\Users\rxmanook\AppData\Local\Temp\0njm4kfv.0we\restore.csproj : error NU1301: Failed

[2022-05-24 21:30] twsouthwick commented on #1137
@Manookian  are you trying to install it from a directory with custom NuGet sources? Please ensure you're doing it in a non-project folder

[2022-05-24 21:32] twsouthwick commented on #1137
You probably want to try this command:

[code]